{% extends "modulesApplication/base.html" %}
{% load static %}

{% block title %}All Modules{% endblock %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/choosemodules.css' %}">
{% endblock %}


{% block sidebar-links %}
    <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
            class="fas fa-home"></i>home</a></li>
    <li><a href="{% url 'modulesApplication:choose-modules' %}" class="btn"><i class="fas fa-book-open"></i>choose
        modules</a></li>
    <li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
        courses</a></li>
{% endblock %}

{% block content %}
     <!-- IMAGE BAR -->
     <div class="image-box">
        <div class="ib-content">
            <h2><i class="fas fa-book-open"></i> All Modules</h2> <br>
        </div>
    </div>

    <!-- FORM BOX -->
    <div class="form-box">
        <div class="icon-img">
            <i class="fas fa-book-open"></i>
        </div>

        {# module_summaries refer to the dictionary passed through with the render request #}
        <label>Filter by:</label>
        <select style=background-color:orangered; class="dropdown2" name="year" id="year_filter">
            <option value=0>Select Year</option>
        </select>
        </p>


        {% if module_summaries %}
        <ul>
            {% for year, modules in module_summaries.items %}
            <h2>Year {{ year|add:"-3" }}</h2>
                {% for module in modules %}
                <label class="moduleLabels">{{ module.module_code }} - {{ module.title }}</label>
                <div class="panel" disabled="False" id="module">
                    <h4>Summary</h4>
                    <p>{{ module.summary }}</p>
                    <br>
                    <button style=background-color:orangered; class="moreInfoButton" onclick="myFunction('{{ module.module_code }}')"> Find out
                        more...
                    </button>
                    <div class="{{ module.module_code }}" style="display: none;">
                        <br>
                        <h4>Learning Outcomes</h4>
                        <p>{{ module.learning_outcomes }}.</p>
                        <h4>Recommended Reading</h4>
                        <p>{{ module.recommended_reading }}</p>
                        <h4>Exam Format</h4>
                        <p>{{ module.exam_format }}</p>
                        <h4>Course Leaders</h4>
                        {% for leader in module.course_leaders %}
                        <p>- {{ leader }}</p>
                        {% endfor %}

                    </div>
                    <br><br>
                    <hr>
                    <br>
                </div>
                {% endfor %}
            {% endfor %}

        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

    <script>
        // Display/hide extra info
        function myFunction(mod_code) {
            let x = document.getElementsByClassName(mod_code)[0]
            console.log("Clicked " + mod_code);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    
        //filtering by year
        const years = {"All Modules": 0, "Year 1": 1, "Year 2": 2, "Year 3": 3, "Year 4": 4};
        window.onload = function () {
            const yearSel = document.getElementById("year_filter");
            let y = 0;
    
            for (const x in years) {
                yearSel.options[yearSel.options.length] = new Option(x, x);
            }
    
            yearSel.onchange = function () {
                y = years[this.value]
                location.href = '/student/all-modules/sort/' + y;
            }
        }
    </script>
{% endblock %}