<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title> homepage </title>
    <meta name="description" content="TBD">
    <meta name="author" content="TBD">

    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'modulesApplication/images/icons/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body>
<!-- OVERLAY (FOR DARKENED PAGE WHEN MENU SELECTED)-->
<div id="overlay" onclick=""></div>

<!-- PAGE WRAPPER -->
<div class="page-wrapper" id="wrapper">
    <input type="checkbox" id="check">
    <input type="checkbox" id="avatar-check">

    <!-- SIDEBAR MENU -->
    <div class="sidebar">
        <header>
            <img class="mainlogo" src="{% static 'modulesApplication/images/logo/mlogo.png' %}" alt="logo">
        </header>

        <ul>
            <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
                    class="fas fa-home"></i>home</a></li>
            <li><a href="{% url 'modulesApplication:choose-modules' %}" class="btn"><i class="fas fa-book-open"></i>choose
                modules</a></li>
            <li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
                courses</a></li>
        </ul>
    </div>

    <!-- TOP BAR -->
    <nav class="topbar">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
        </label>

        <label class="title"> moodule</label>

        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="search">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>

        {% if user.is_authenticated %}
        <div class="avatar-box">
            <label for="avatar-check">
                {% if user.avatar %}
                <img src="{{ user.avatar }}">
                {% else %}
                <img src="{% static 'modulesApplication/images/logo/slp-box-img.png' %}">
                {% endif %}
            </label>
        </div>

        <div class="dropdown-ab-menu">
            <ul>
                <li class="username"> {{ user.name }}</li>
                <li class="email"> {{ user.email }}</li>
                <li class="sign-out">
                    <a href="{% url 'signout' %}">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="sign-in">
            <a href="{% url 'signin' %}"> <i class="fas fa-sign-in-alt"> </i> </a>
        </div>
        {% endif %}
    </nav>

    <!-- MENU OVERLAY SCRIPT -->
    <script>
        var checkbox = document.querySelector("input[type=checkbox]");

        checkbox.addEventListener('change', function () {
            if (this.checked) {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "block";
            } else {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "none";
            }
        });

    function changeStyle() {
        document.getElementById("wrapper").className = "page-wrapper2";
    }

    </script>
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
    <!-- PAGE WRAPPER -->
    <div class="main-content">
        <script>changeStyle()</script>
        <br>
        <h2>You need to login to view this page.</h2>
        <br>
        <a href="{% url 'signin' %}">
            <i class="fas fa-sign-in-alt"> </i> Sign In
        </a>
    </div>
    {% endif %}
</div>
</body>

<!-- FOOTER - links will be added later -->
<div class="footer">
    <div class="row">
        <div class="col">
            <li>Royal Holloway, University of London</li>
            <li>Egham, Surrey, TW20 0EX</li>
        </div>
        <div class="col">
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </div>
        <div class="col">
            <li>moodule@gmail.com</li>
            <li>T: +44 (0)1784 434455</li>
        </div>
    </div>
    <div class="finalrow">
        &copy; 2021 moodule.com | Designed by CS2815 Group 34
    </div>
</div>

</html>