<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %}homepage{% endblock title %}</title>
    <meta name="description" content="TBD">
    <meta name="author" content="TBD">
    {% block head_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="icon" type="image/png" href="{% static 'modulesApplication/images/icons/favicon.png' %}">
    {% endblock head_css %}
</head>

<body>
<!-- OVERLAY (FOR DARKENED PAGE WHEN MENU SELECTED)-->
<div id="overlay" onclick=""></div>

<!-- PAGE WRAPPER -->
<div class="not-wrapper" id="wrapper">
    <input type="checkbox" id="check">
    <input type="checkbox" id="avatar-check">

    <!-- SIDEBAR MENU -->
    <div class="sidebar">
        <header>
            <img class="mainlogo" src="{% static 'modulesApplication/images/logo/mlogo.png' %}" alt="logo">
        </header>
        <ul>
            {% block sidebar-links %} <!-- Let the links be subclassed if provided, otherwise this is the default.-->
                <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
                        class="fas fa-home"></i>student landing</a></li>
                <li><a href="{% url 'modulesApplication:office-landing' %}" class="btn"><i
                        class="fas fa-home"></i>office landing</a></li>
            {% endblock sidebar-links %}
        </ul>
    </div>

    <!-- TOP BAR -->
    <nav class="topbar">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
        </label>

        <a href="{% url 'modulesApplication:index' %}"><label class="title"> moodule</label></a>

       <div class="search-box">
            <label for="search-box" style="display: none;">Search</label>
            <input class="search-txt" type="text" id="search-box" placeholder="search">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
		
        {% if user.is_authenticated %}
            <div class="avatar-box">
                <label for="avatar-check">
                    {% if user.avatar %}
                        <img src="{{ user.avatar }}" alt="The user's avatar.">
                    {% else %}
                        <img src="{% static 'modulesApplication/images/logo/slp-box-img.png' %}"
                             alt="The Moodule logo.">
                    {% endif %}
                </label>
            </div>

            <div class="dropdown-ab-menu">
                <ul>
                    <li class="username"> {{ user.username }}</li>
                    <li class="email"> {{ user.email }}</li>
                    <li class="sign-out">
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="sign-in">
                <a href="{% url 'login' %}"> <i class="fas fa-sign-in-alt"> </i> </a>
            </div>
        {% endif %}
    </nav>

    <!-- MENU OVERLAY SCRIPT -->
    <script>
        let checkbox = document.querySelector("input[type=checkbox]");

        checkbox.addEventListener('change', function () {
            if (this.checked) {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "block";
            } else {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "none";
            }
        });

        function changeStyle() {
            document.getElementById("wrapper").className = "page-wrapper2";
        }

    </script>
    <!-- CONTENT GOES HERE -->


</div>

<div class="page-wrapper2">
    {% block content %}

    {% endblock %}
</div>
<!-- FOOTER - links will be added later -->
<div class="footer">
    <div class="row">
        <div class="col">
            <ul>
                <li>Royal Holloway, University of London</li>
                <li>Egham, Surrey, TW20 0EX</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="col">
            <ul>

                <li>moodule@gmail.com</li>
                <li>T: +44 (0)1784 434455</li>
            </ul>
        </div>
    </div>
    <div class="finalrow">
        &copy; 2021 moodule.com | Designed by CS2815 Group 34
    </div>
</div>
</body>
</html>
