<!DOCTYPE html>
{% extends "modulesApplication/base.html" %}
{% load static %}

<html lang="en" dir="ltr">
<head>
    <title>SignInCheck</title>
    <meta name="description" content="TBD">
    <meta name="author" content="TBD">

    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'modulesApplication/images/icons/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
<!-- PAGE WRAPPER -->
<div class="page-wrapper">

    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
<meta http-equiv="refresh" content="0;modulesApplication:index">
    {% endif %}
    {% endblock %}

</div>
</body>

</html>