<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <title>{{ info.programme.title }} - {{ info.entry_year }}</title>
    <meta name="description" content="TBD">
    <meta name="author" content="TBD">

  <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main.css' %}">
  <link rel="icon" type="image/png" href="{% static 'modulesApplication/images/icons/favicon.png' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<body>
    <!-- OVERLAY (FOR DARKENED PAGE WHEN MENU SELECTED)-->
  <div id="overlay" onclick="quitClick() "></div>

  <!-- PAGE WRAPPER -->
  <div class="page-wrapper">
    <input type="checkbox" id="check">

    <!-- SIDEBAR MENU -->
    <div class="sidebar">
        <header>
            <img class="mainlogo" src="{% static 'modulesApplication/images/logo/mlogo.png' %}" alt="logo">
        </header>
        <ul>
            <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i class="fas fa-home"></i>home</a></li>
            <li><a href="#" class="btn"><i class="fas fa-book-reader"></i>my courses</a></li>
            <li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
                    courses</a></li>
        </ul>
    </div>

    <!-- TOP BAR -->
    <nav class="topbar">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
        </label>
        <label class="title"> moodule</label>
        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="search">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>

        <img src="{% static 'modulesApplication/images/logo/slp-box-img.png' %}" class="avatar" alt="avatar">
    </nav>

    <div class="main-box">
        <h1> Your chosen programme is: {{ info.programme.title }} - Entry year: {{ info.entry_year }}</h1>
        {% for k, v in info.modules_dict.items %}
        {% if k == stage %}
         <h2> Stage {{ k|slice:"-1:" }}</h2>
        <!-- Stages -->
        <div class="mb-content">
            {% for constraint, list in v.items %}
            <!-- Modules by local constraint type (CORE, DISC_ALT, OPTS, STRAND) - DISC_ALT has a slightly different
            format -->
            {% if constraint != "DISC_ALT" %}
                {% if list|length > 0 %}
                    <h3> {{ constraint|upper }}</h3>
                    <ul>
                        {% for module in list %}
                            <li>
                                {{ module.mod_code }} {{ module.title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <!-- DISC_ALT -->
                <h3> {{ constraint|upper }}</h3>
                {% for sublist in list %}
                    <p>One of...</p>
                    <ul>
                        {% for module in sublist %}
                            <li>
                                {{ module.mod_code }} {{ module.title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
</body>

<!-- FOOTER - links will be added later -->
<div class="footer">
    <div class="row">
        <div class="col">
            <li>Royal Holloway, University of London</li>
            <li>Egham, Surrey, TW20 0EX</li>
        </div>
        <div class="col">
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </div>
        <div class="col">
            <li>moodule@gmail.com</li>
            <li>T: +44 (0)1784 434455</li>
        </div>
    </div class="row">
    &copy; 2021 moodule.com | Designed by CS2815 Group 34
</div>
</div>
</html>

<!-- MENU OVERLAY SCRIPT -->
<script>
    var checkbox = document.querySelector("input[type=checkbox]");

    checkbox.addEventListener('change', function () {
        if (this.checked) {
            document.getElementById("overlay").style.transition = '0.5s';
            document.getElementById("overlay").style.display = "block";
        } else {
            document.getElementById("overlay").style.transition = '0.5s';
            document.getElementById("overlay").style.display = "none";
        }
    });
</script>