{% extends "modulesApplication/base.html" %}

{% block title %}{{ info.programme.title }} - {{ info.entry_year }}{% endblock %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/selectionform.css' %}">
{% endblock %}

{% block sidebar-links %}
    <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
            class="fas fa-home"></i>home</a></li>
    <li><a href="{% url 'modulesApplication:choose-modules' %}" class="btn"><i class="fas fa-book-open"></i>choose
        modules</a></li>
    <li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
        courses</a></li>
{% endblock %}

{% block content %}
    <div class="form-title">
        <h1> Your chosen programme is: {{ info.programme.title }} - Entry
            year: {{ info.entry_year }}</h1>
    </div>
    <div class="form-content">
        <form id="module-selection-form" action="{% url 'modulesApplication:submit-selection' %}" method="POST">
            {% csrf_token %}
            {% for k, v in info.modules_dict.items %}
                {% if k == stage %}
                    <h2 style="text-align: center;"> Stage {{ k|slice:"-1:" }}</h2>
                    <br>
                    <hr>
                    <div class="grid">
                    <!-- Terms -->
                    {% for term, constraints in v.items %}
                        {% if term != 'unknown' %}
                            <div class="grid-cell">
                                <div class="cell-title">
                                    <h3>{{ term|title|slice:":-1" }} {{ term|slice:"-1:" }}</h3>
                                </div>
                                <div class="cell-content">
                                    {% for constraint, modules in constraints.items %}
                                        {% if modules|length > 0 %}
                                            <br>
                                            <h4>{{ constraint }}</h4>
                                            {% if constraint == "CORE" %}
                                                <!-- for Core modules, modules are selected and disabled-->
                                                {% for module in modules %}
                                                    <li><input type="checkbox" id="{{ module.mod_code }}"
                                                               value="{{ module.mod_code }}" name="module-selections"
                                                               class="module-checkbox" checked hidden>
                                                        <label for="{{ module.mod_code }}">{{ module.mod_code }}
                                                            - {{ module.title }}</label>
                                                    </li>
                                                {% endfor %}
                                            {% elif constraint != "DISC_ALT" %}
                                                <ul>
                                                    {% for module in modules %}
                                                        <li><input type="checkbox" id="{{ module.mod_code }}"
                                                                   value="{{ module.mod_code }}"
                                                                   name="module-selections"
                                                                   class="module-checkbox"
                                                                   onclick="selectOption('{{ module.mod_code }}')">
                                                            <label for="{{ module.mod_code }}">{{ module.mod_code }}
                                                                - {{ module.title }}</label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p><em>The following modules may be taken in place of another at the
                                                    discretion of the
                                                    department.</em></p>
                                                {% for sublist in modules %}
                                                    <li>
                                                        <p>Instead of {{ sublist.0.mod_code }}:</p>
                                                        <input type="checkbox" id="{{ sublist.1.mod_code }}"
                                                               value="{{ sublist.1.mod_code }}" name="module-selections"
                                                               class="module-checkbox"
                                                               onclick="selectDict_Alt({{ sublist.0.mod_code }}, {{ sublist.1.mod_code }})">
                                                        <label for="{{ sublist.1.mod_code }}">{{ sublist.1.mod_code }}
                                                            - {{ sublist.1.title }} </label>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            <input type="hidden" name="stage" value="{{ stage|slice:"-1:" }}">
            <input type="hidden" name="prog_code" value="{{ info.programme.prog_code }}">
            <input type="hidden" name="entry_year" value="{{ info.entry_year }}">
            <label style="display:block; margin:auto; text-align: center;" for="student-id">Student ID:<br>
                <input style="display:block; margin:auto; color: black;" type="text" id="student-id" name="student-id"
                       value=""><br>
            </label>
            {% if messages %}
                {% for message in messages %}
                    <strong><span
                            style="display: block; padding-top: 1px; margin-bottom: 10px; text-align: center; color: red;">{{ message }}</span></strong>
                {% endfor %}
            {% endif %}
            <input class="submit-btn" style="display: block; margin: auto;" type="submit">

        </form>
    </div>
    <script>
        function selectOption(mod_code) {
            const query = '[id="' + mod_code + '"]'
            const bothElements = document.querySelectorAll(query);
            bothElements[1].disabled = bothElements[0].checked === true;
            bothElements[0].disabled = bothElements[1].checked === true;
        }

        function selectDict_Alt(initial, other) {
            console.log(initial)
            console.log(other)
            initial.checked = initial.checked !== true;
        }
    </script>
{% endblock %}
