<!-- This is a dummy template to test ProgrammeInfo objects. Please feel free to improve if you
find a use for it! -->
<h1> {{ info.programme.title }} - {{ info.entry_year }} </h1>
{% for k, v in info.modules_dict.items %}
    <h2> Stage {{ k|slice:"-1:" }}</h2>
    {% for constraint, list in v.items %}
        {% if constraint != "DISC_ALT" %}
            <h3> {{ constraint|upper }}</h3>
            <ul>
                {% for module in list %}
                    <li>
                        {{ module.mod_code }} {{ module.title }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3> {{ constraint|upper }}</h3>
            {% for sublist in list %}
                <p>One of...</p>
                <ul>
            {% for module in sublist %}
                <li>
                {{ module.title }}
                </li>
            {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}