<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Moodule</title>
  <meta name="description" content="TBD">
  <meta name="author" content="TBD">

  <link rel="stylesheet" href="Stylesheet.css">

</head>

<body>
  <h1>Hello World!</h1>
  <h1>Message to Designers:</h1>
  <ul>
    <li>So this page should have 3 links or buttons allowing people to log in as a student, office member or staff.</li>
    <li>There should literally be nothing else but maybe a logo on this page, and maybe you'll want to access the link below.</li>
    <li>Be sure just to focus on the design of it. Please annotate/comment if need be.</li>
    <li>The actual login system will come later. Likely Sprint2.</li>
    <li>Also, a nice footer would be v cool.</li>
  </ul>
  <hr>
  <p>The page below is a link to a list of modules. I.e. the module infomation page.</p>
  <a href="AllModules.html">Link to all modules</a>
  <hr>
  <p>The page below is a link you can use as a landing page once the buttons have been clicked. For testing purposes.</p>
  <a href="StudentLandingPage.html">Link to (Student) landing page.</a>
</body>
</html>