<!DOCTYPE html>

<html lang="en"?>

<!--
  Office Landing Page
-->
	
<head>
	<title>Office Homepage</title>
	<link rel="stylesheet" href="../../static/modulesApplication/css/office.css">
</head>
	
<header class="header">
	<div class="header_search">Search...</div>
	<div class="user_avatar">User Avatar</div>
</header>
	
<div class="grid-container">
	<header class="header"></header>
	<aside class="sidenav"></aside>
	<main class="main"></main>
	<footer class="footer"></footer>
</div>
	
<footer class="footer">
  <div class="footer__copyright">&copy; 2021</div>
  <div class="footer__signature">Team 34</div>
</footer>
	
	

</html>
