<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Admininistration</title>
</head>
<body>
<h2>Download csv files</h2>
<ul>
    <button><a href="{% url 'modulesApplication:csv' 'Programme' %}" class="model">Programmes</a></button>
    <button><a href="{% url 'modulesApplication:csv' 'Module'%}" class="model">Modules</a></button>
    <button><a href="{% url 'modulesApplication:csv' 'ModuleSelection'%}" class="model">Student request status</a></button>
{#    <li><a href="{% url 'modulesApplication:csv' 'selections' %}" class="model">Student choices</a></li>  #}
</ul>
<form action="{% url 'modulesApplication:csv-downloads' %}" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="submit"/>
</form>
<p id="para"></p>
</body>
</html>