<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Student Homepage</title>
  <meta name="description" content="TBD">
  <meta name="author" content="TBD">

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<body>
  <div class="page-wrapper">
    <input type="checkbox" id="check">
    <div class="sidebar">
      <header>
        <img class="mainlogo" src="images/mlogo.png" alt="logo">
      </header>
      <ul>
        <li><a href="#" class="btn"><i class="fas fa-home"></i>home</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book-reader"></i>my courses</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book-open"></i>all courses</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book"></i>courses by year</a></li>
      </ul>
    </div>

    <nav class="topbar">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
      </label>
      <label class="title"> moodule</label>
      <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="search">
        <a class="search-btn" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>

      <img src="images/slp-box-img.png" class="avatar" alt="avatar">
    </nav>

    <!-- IMAGE SLIDE -->
    <div class="slider">
      <div class="slides">
        <!--RADIO BUTTONS -->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">

        <!-- SLIDE IMAGES -->
        <div class="slide first">
          <img src="images/slider/img-1.png" alt="">
        </div>
        <div class="slide">
          <img src="images/slider/img-1.png" alt="">
        </div>
        <div class="slide">
          <img src="images/slider/img-1.png" alt="">
        </div>

        <!-- AUTOMATIC NAVIGATION OF SLIDES-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
        </div>

      </div>
      <!--MANUAL NAVIGATION OF SLIDES-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
      </div>
    </div>
    <!--image slider end-->

    <script type="text/javascript">
      var counter = 1;
      setInterval(function () {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 4) {
          counter = 1;
        }
      }, 15000);
    </script>

    <div class="lp-container">
      <div class="lp-box" id="b1">
        <h2> my courses</h2>
        <a href="#" class="b-btn"></a>
        <div class="content">

        </div>
      </div>
      <div class="lp-box" id="b2">
        <h2> choose modules </h2>
        <a href="#" class="b-btn"></a>
      </div>
      <div class="lp-box" id="b3">
        <h2> all courses </h2>
        <a href="#" class="b-btn"></a>
      </div>
    </div>
  </div>
</body>

<!-- FOOTER - links will be added later -->
<div class="footer">
  <div class="row">
    <div class="col">
      <li>Royal Holloway, University of London</li>
      <li>Egham, Surrey, TW20 0EX</li>
    </div>
    <div class="col">
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
    </div>
    <div class="col">
      <li>moodule@gmail.com</li>
      <li>T: +44 (0)1784 434455</li>
    </div>
  </div class="row">
  &copy; 2021 moodule.com | Designed by CS2815 Group 34
</div>
</div>

</html>