<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Student Homepage</title>
  <meta name="description" content="TBD">
  <meta name="author" content="TBD">

  <link rel= "stylesheet" type="text/css" href="css/style.css">
  <link rel= "stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<!--
  INSTRUCTIONS FROM KEIRU; DESIGNERS CAN THINK OF OTHER USEFUL IDEAS TOO:

  <h1>Landing Page</h1>
  <h1>Message to Designers:</h1>
  <ul>
    <li>This page will be the landing page for the students.</li>
    <li>It is up to you whether you would like to have separate landing pages for the different user types or not.</li>
    <li>Be careful when renaming files if you choose to have one big landing page with different features for different users. File names are closely linked to code in views.py and urls.py.</li>
  </ul>

  <ul>
    <li>The landing page(s) are where your NavBars will really come in handy.</li>
    <li>From here, a student should be able to view their modules, select their modules (Link to a new page), view all modules (Link to a new page) and more that may be implemented in future sprints.</li>
    <li>Don't expect your landing pages to look entirely complete. Though they should look aesthetic, there is more functionality that we are likely to need and come across later.</li>
  </ul>

  <hr>
  <p>If you want to have a page that one of the buttons on the landing page can link to, this will be the link for students to choose their modules.</p>
  <a href="StudentChooseModules.html">Students Choose modules</a>
-->

<body>
  <div class="page-wrapper">
    <input type="checkbox" id="check">
    <div class="sidebar">
      <header>
        <img class="mainlogo" src="images/mlogo.png" alt="logo">
      </header>
      <ul>
        <li><a href="#" class="btn"><i class="fas fa-home"></i>home</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book-reader"></i>my courses</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book-open"></i>all courses</a></li>
        <li><a href="#" class="btn"><i class="fas fa-book"></i>courses by year</a></li>
      </ul>
    </div>

    <nav class="topbar">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
      </label>
      <label class="title"> moodule</label>
      <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="search">
        <a class="search-btn" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
    </nav>

    <div class="section">
      <div class="middle">
      </div>
    </div>
  </div>
</body>

<!-- FOOTER - links will be added later -->
<div class="footer">
  <div class="row">
    <div class="col">
      <li>Royal Holloway, University of London</li>
      <li>Egham, Surrey, TW20 0EX</li>
    </div>
    <div class="col">
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
    </div>
    <div class="col">
      <li>moodule@gmail.com</li>
      <li>T: +44 (0)1784 434455</li>
    </div>
  </div class="row">
  &copy; 2021 moodule.com | Designed by CS2815 Group 34
</div>
</div>

</html>