<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Choose Modules</title>
  <meta name="description" content="TBD">
  <meta name="author" content="TBD">

  <link rel= "stylesheet" type="text/css" href="css/style.css">
  <link rel= "stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<body>
  <h1>Students Choose their modules here.</h1>
  <h1>Message to Designers:</h1>
  <ul>
    <li>Please add basic UI to this page. (Footer, header, navbar, etc.) Kiki and I will be working on this page to allow students to choose modules.</li>
  </ul>
  <hr>
  <h1>Message to Developers:</h1>
  <ul>
      <li>We can do this! :D</li>
  </ul>
</body>
</html>