<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Accordion </title>
        <link rel= "stylesheet" type="text/css" href="css/style.css">
        <link rel= "stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    <body>

        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-bars" id="cancel"></i>
        </label>

        <div class="sidebar">
            <header> 
                <img class="mainlogo" src="css/images/mlogo.png" alt="logo">
            </header>
            <ul>
                <li><a href="#" class="btn"><i class="fas fa-home"></i>home</a></li>
                <li><a href="#" class="btn"><i class="fas fa-book-reader"></i>my courses</a></li>
                <li><a href="#" class="btn"><i class="fas fa-book-open"></i>all courses</a></li>
                <li><a href="#" class="btn"><i class="fas fa-book"></i>courses by year</a></li>
            </ul>
        </div>

        <nav class= "topbar">       
            <!-- <img class="logotext" src="css/images/mlogo-text.png" alt="moodule"> -->
            <label class="title"> moodule</label>
            <form class="search-form">
                <input type="text" placeholder="">
                <button> search </button>
            </form>
        </nav>

        <div class="section"> 
            <div class= "middle">
            <div class="list">
                <li class= "item" id="cs2850"> 
                    <a href="#cs2850" class="btn"><i class="fas fa-book"></i>  CS2850</a>
                    <div class="content">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?</p>
                    </div>
                </li>

                <li class= "item" id="cs2800"> 
                    <a href="#cs2800" class="btn"><i class="fas fa-book"></i>  CS2800</a>
                    <div class="content">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?
                            Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?
                            Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?</p>
                    </div>
                </li>

                <li class= "item" id="cs2830">
                    <a href="#cs2830" class="btn"><i class="fas fa-book"></i>  CS2830</a>
                    <div class="content">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?</p>
                    </div>
                </li>

                <li class= "item" id="cs2860">
                    <a href="#cs2860" class="btn"><i class="fas fa-book"></i> CS2860</a>
                    <div class="content">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing 
                            elit. Dolores error, placeat ea ex obcaecati aut! Doloribus
                             tempore fugit nemo est amet atque id, quasi magni voluptatem,
                            iure quam ut tempora?</p>
                    </div>
                </li>
            </div>
        </div>
    </div>       
    </body>

</html>