{% extends "modulesApplication/main/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}


{% block content %}
    <style>
        label {
            color: black;
        }

        p {
            color: black !important;
        }

        input {
            color: black !important;
        }

        .button {
            padding: 5px;
        }

        table {
            display: block;
            margin-right: 0;
        }
    </style>


    <div class="main-content">
        {% if not user.is_authenticated %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input class="button" type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        {% else %}
            <p>Successfully signed in.</p>
        {% endif %}
        {% if not user.is_authenticated %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}