table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  background: whitesmoke;
  color: black;
}

.flex-centre {
  display: flex;
  justify-content: center;
}

.listview-div {
  padding-top: 10px;
  margin: auto;
  width: auto;
}

textarea {
    height: 2em;
    width: 25em;
}

.table-big-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-big-col {
  margin: 10px;
}

.crud-header {
  text-align: center;
}