/* --[[ TABLE BOX ]] -- */
.table-box {
  margin: 5% 10%;
  margin-left: 5%;
  padding: 20px;
  width: 90%;
  height: 80%;
  background: rgba(130, 130, 130, 0.25);
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  border-top: 3px solid orangered;
  color: black;
}

.icon-img {
  width: 25%;
  height: 25%;
  margin-top: -50px;
  border-radius: 50%;
  position: relative;
}

.icon-img i {
  padding: 20px;
  background: linear-gradient(180deg, orangered, orange);
  color: black;
  border-radius: 50%;
  border: 0px solid black;
  font-size: 60px;
}


.table-box h1 {
  font-size: 35px;
  margin: 0;
  border-bottom: 2px solid orangered;
  color: black;
}

.table-box h2 {
  font-size: 30px;
  margin: 0;
  margin-top: 30px;
  border-bottom: 2px solid orangered;
  color: black;
}

.table-box p {
  color: black;
}

/* --[[ TABLE ]] -- */
/* th-table headers;
    make the background darker and have a pointer*/
    .table-box th {
    cursor: pointer;
    background-color: #2e3133;
}

.table-scroll {
  height: 450px;
  width: 100%;
  overflow-y: auto;
}

table {
  border: 1px solid #ccc;
  position: relative;
  border-collapse: collapse; 
  empty-cells: show;
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Nunito', sans-serif;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}
  
table tbody tr:nth-of-type(even) {
  background-color: #f0f0f0;
}

table thead tr th  {
  background: black;
  border-left: 1px solid grey;
  top: 0;
  position: sticky;
  font-size: 13px;
  color: white;
  font-family: 'Nunito', sans-serif;
}

table thead tr th strong {
  color: white;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  word-wrap: break-word;
  color: black;
  font-size: 16px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

table th {
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-wrap: break-word;
}

.blue-link {
  background: orange;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border: 2px solid none;
  margin-top: 25px;
  transition: 0.2s;
}

.blue-link:visited {
  color: white;
}

#create-bl {
  background: rgb(26, 157, 105);
  border: 2px rgba(255, 255, 255, 0)  solid;

}

#create-bl i {
  color: white;
  margin-right: 5px;
}

#create-bl:hover {
  background: rgb(38, 184, 126);
  border: 2px white solid;
}

#update-bl {
  background: orangered;
  border: 2px rgba(255, 255, 255, 0)  solid;
  width: auto;
}

#update-bl i {
  color: white;
}

#update-bl:hover {
  background: rgb(255, 120, 36);
  border: 2px white solid;
}

#delete-bl {
  background: red;
  border: 2px rgba(255, 255, 255, 0) solid;
}

#delete-bl i {
  color: white;
}

#delete-bl:hover {
  background: rgb(255, 100, 100);
  border: 2px white solid;
}

.current {
  padding: 7px;
  margin: 2px 2px;
  font-size: 20px;
}


/**/


.flex-centre {
  display: block;
  justify-content: center;
}

.listview-div {
  padding-top: 10px;
  margin: auto;
}

.listview-div h1 {
  text-align: center;
}

.create-new-model-div {
  text-align: center;
  padding: 20px;
}

.pagination {
  text-align: center;
  padding: 20px;
}

#first, #previous {
  background: rgb(230, 230, 230);
  border: 2px rgba(0, 0, 0, 0) solid;
  color: black;
  font-size: 20px;
  margin: 0 5px;
  transition: 0.25s;
}

#next, #last {
  background: rgb(230, 230, 230);
  border: 2px rgba(0, 0, 0, 0) solid;
  color: black;
  font-size: 20px;
  margin: 0 5px;
  transition: 0.25s;
}

#first span, #last span {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;

  visibility: none;

  max-width:0px; /* This is the fixed unit value */
  opacity: 0;

  transition:all 0.25s;
  box-sizing:border-box;

  text-decoration:none;
  color:black;
}

#next:hover, #previous:hover, #first:hover, #last:hover {
  background: white;
  border: 2px black solid;
}

#first:hover span, #last:hover span {
  margin-right:0px;
  opacity: 1;
  width: auto;
  max-width:500px; /* this value makes the transition */
}

.table-big-row {
  display: block;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.table-big-col {
  margin: 10px;
  width: 100%;
}

.crud-header {
  text-align: center;
}

/* Input fields - create / update */

.input-div {
  width: 100%;
  height: 40px;
  background: white;
  padding: 2px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: left;
  justify-content: left;
}

.input-div .icon-button {
  position: absolute;
  background:#dce4ec;
  padding:0px 10px;
  border-radius: 5px 0 0 5px;
  display:inline-block;
  width: 15px;
  height: auto;
  line-height:40px;
}

/* Input type-texts, and text areas */
.input-div input[type="text"], .input-div textarea {
  margin-left: 40px;
  position: relative;
  padding:0 10px;
  z-index: 1;
  border: none;
  resize: none;
  height: 40px;
  width: 91%;
  overflow: hidden;
  line-height: 35px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: 'Nunito', sans-serif;
  transition: 0.2s;
}

/* Checkbox fields */

.checkbox-container {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 40px 0px;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  margin-left: 5px;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-square {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 3px solid #34495e;

}

.checkbox-label:hover .checkbox-square {
  background-color: #34495e29;
}

.checkbox-label input:checked ~ .checkbox-square {
  background-color: #34495e;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 3px solid #34495e;
}

.checkbox-label .checkbox-square::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: 3px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.checkbox-label input:checked ~ .checkbox-square::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: 3px solid white;
  border-width: 0 3px 3px 0;
  background-color: transparent;
  border-radius: 0;
}

/* Checkbox - ripple Effect */
.checkbox-label .checkbox-square::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 3px solid #34495e;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);	
}

.checkbox-label input:checked ~ .checkbox-square::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.form-ltag {
  text-transform: uppercase;
  font-weight: bold;
}

/* For textarea-focus - expand the field height */
.input-div textarea:focus {
  z-index: 2;
  height: 12em;
  background: linear-gradient(rgb(240, 240, 240), rgb(255, 255, 255));
  border: 1px solid black;
  overflow: auto;
  border-radius: 2px;
}

/* Dropdown fields */
.input-div select {
  margin-left: 40px;
  padding:0 10px;
  width: calc(100% - 50px);
  border: none;
  height:40px;
  line-height:40px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.input-div select option {
  color: black;
  background: white;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.icon-button i {
  color: white;
}

/* For hover and focus of fields - highlight the field being interacted */
.input-div:hover{
  border-color:#34495e;
  transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -webkit-transition:all .15s ease-in-out;
  -o-transition:all .15s ease-in-out;
}

.input-div:hover .icon-button {
  background:#34495e;
  color: white;
  transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -webkit-transition:all .15s ease-in-out;
  -o-transition:all .15s ease-in-out;
}

.input-div:focus-within {
  border-color:#34495e;
  transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -webkit-transition:all .15s ease-in-out;
  -o-transition:all .15s ease-in-out;
}

.input-div:focus-within > .icon-button {
  background: #34495e;
  transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -webkit-transition:all .15s ease-in-out;
  -o-transition:all .15s ease-in-out;
}



/*-- MEDIA QUERIES --*/
@media screen and (max-width: 1000px) {
  .content-table {
    border: 0;
  }

  .content-table caption {
    font-size: 16px;
  }
  
  .content-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .content-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .content-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 16px;
    text-align: right;
  }
  
  .content-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .content-table td:last-child {
    border-bottom: 0;
  }

  /* Form table */

  .form-table thead {
    display: none;
  }
  .form-table tr, td {
    position: relative;
    display: block;
  }

  /* Smaller width of fields on smaller widths */
  .input-div input[type="text"], .input-div textarea {
    width: 85%;
  }

  /* Center the checkbox on smaller widths */
  .checkbox-label {
    margin-left: auto;
    margin-right: auto;
  }
}
