/* --[[ GOOGLE FONT IMPORTS ]]-- */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');


/* --[[ ALL MODULES TABLE ]]-- */

.moduleLabels{
    color: orangered;
}

.moreInfoButton{
    background-color: #ff4500;
    border-radius: 10px;
    width: 20%;
    height: 30px;
}

/* --[[ IMAGE BAR ]]-- */

.image-box{
    position: relative;
    background: linear-gradient(180deg, rgb(137, 36, 0), rgb(155, 101, 0), rgb(201, 127, 0));
    background-size: 400% 400%;
    opacity: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ib-content {
    position: relative;
    color: black;
    padding: 0 50px;
    display: block;
    height: 50%;
    width: 90%;
}

.ib-content h2 {
    padding: 5px;
    margin: 15px 0 0;
    font-size: 26px;
    color: white;
    background: rgba(30,30,30,0);
    border-left: 5px orangered solid;
    border-radius: 5px;
}

.ib-content h2 i {
    margin: 0 15px;
    color: white;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* --[[ TABLE ]] -- */

.content-table tbody tr:nth-of-type(even) {
background-color: #f0f0f0;
}


/* th-table headers;
    make the background darker and have a pointer*/
    .form-box th {
    cursor: pointer;
    background-color: #2e3133;
}

/* \25b4 - the arrow in the table header show the ascending column
margin-left; for the gap between header name and arrow */

.table-box .th-sort-asc::after {
    content: "\25b4";
    margin-left: 5px;
}

/* \25be - the arrow in the table header show the descending column
margin-left; for the gap between header name and arrow */
.table-box .th-sort-desc::after {
    content: "\25be";
    margin-left: 5px;
}

/* change the opacity of the table headers if asc/desc */
.table-box .th-sort-asc,
.table-box .th-sort-desc {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.15s;
}

.table-box th:hover,
.table-box .th-sort-asc:hover,
.table-box .th-sort-desc:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* --- */

.table-scroll {
    height: 450px;
    width: 100%;
    overflow-y: auto;
}
    
.content-table {
    border: 1px solid #ccc;
    position: relative;
    border-collapse: collapse; 
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Nunito', sans-serif;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
    
.content-table tbody tr:nth-of-type(even) {
    background-color: #f0f0f0;
}
  
.content-table thead tr th {
    background: black;
    border-left: 1px solid grey;
    top: 0;
    position: sticky;
    font-size: 13px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

  .content-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .content-table th,
  .content-table td {
    padding: .625em;
    word-wrap: break-word;
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }
  
  .content-table th {
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  @media screen and (max-width: 1200px) {
    .content-table {
      border: 0;
    }
  
    .content-table caption {
      font-size: 16px;
    }
    
    .content-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .content-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .content-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 16px;
      text-align: right;
    }
    
    .content-table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .content-table td:last-child {
      border-bottom: 0;
    }
  }

/* -- */




/* modal- darken page behind the form when approve/deny pops up  */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal h1 {
    border-bottom: 2px solid orangered;
}

/* -- DIV FOR ABOVE/DENY FORM -- */
.modal-content {
    margin: 10% auto auto;
    width: 80%;
    padding: 10px;
}

.modal-form {
    padding: 25px;
    margin: 25px;
    background: #d0d0d0;
}

.details {
    border: 0;
    width: 100%;
  }

  .details caption {
    font-size: 16px;
  }
  
  .details tr {
    margin: 0 10px;
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .details td {
    margin: 0 10px;
    width: auto;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-size: 16px;
    text-align: right;
    word-wrap: break-word;
  }
  
  .details td:last-child {
    border-bottom: 0;
  }

  .details-cell {
      display: block;
      float: right;
      word-wrap: break-word;
  }



.details tr td input[type="text"] {
    background: white;
    border: 2px solid none;
    width: 100%;
    color: black;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.details tr td input[type="text"]:focus {
    border: 2px solid black;
}

.Abtn {
    width: 30%;
    padding: 10px;
    align: left;
    margin: 0 15px;
    border: 1px solid none;
    background: #20a115;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    opacity: 0.7;
    transition: 0.2s;
}

.Dbtn {
    width: 30%;
    padding: 10px;
    margin: 0 15px;
    align: right;
    border: 1px solid none;
    background: #ff0000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    opacity: 0.7;
    transition: 0.2s;
}

.Abtn:hover,
.Dbtn:hover {
    border: 1px solid white;
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    cursor: pointer;
}

.submit-btn:hover {
    width: 80px;
}

/* --[[ FORM ]]-- */

.table-box {
    margin: 5% 10%;
    margin-left: 5%;
    padding: 20px;
    width: 90%;
    height: 80%;
    background: rgba(130, 130, 130, 0.25);
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    border-top: 3px solid orangered;
    color: black;
}

.icon-img {
    width: 25%;
    height: 25%;
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
}

.icon-img i {
    padding: 20px;
    background: linear-gradient(180deg, orangered, orange);
    color: black;
    border-radius: 50%;
    border: 0px solid black;
    font-size: 60px;
}

.table-box {
    width: 90%;
    height: 100%;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.table-box h1 {
    font-size: 30px;
    border-bottom: 2px solid orangered;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.table-box .ul h2 {
    color: black;
}

.table-box label {
    font-size: 17px;
    color: black;
}


.details-btn,
.table-box input[type = "submit"]  {
    background: orangered;
    width: 80px;
    height: 33px;
    margin-top: 15px;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    transition: 0.15s;
}

.details-btn:hover,
.table-box input[type = "submit"]:hover {
    background: rgb(255, 121, 63);
    border: 2px white solid;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #084298;
    background-color: #1d51a5;
    border-color: #b6d4fe;
}