{% extends 'modulesApplication/academic/BaseAcademicListTemplate.html' %}

{% block heading %}
Course Leaders
{% endblock %}
{% block table %}
            <table>
                <tr>
                    <th>Module</th>
                    <th>Term/s</th>
                    <th>Leader</th>
                </tr>
                {% for course_leader in object_list %}
                    <tr>
                        <td>{{ course_leader.module_id }}</td>
                        <td>{{ course_leader.term }}</td>
                        <td>{{ course_leader.person.name }}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}