{% extends "modulesApplication/base_office.html" %}
{% load static %}

{% block title %}Choose Modules{% endblock %}

{% block head_css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/choosemodules.css' %}">
{% endblock %}


{% block content %}
<div class="page-wrapper">
    <!-- IMAGE BAR -->
    <div class="image-box">
        <div class="ib-content">
            <h2><i class="fas fa-book-open"></i> archived module selection requests</h2> <br>
        </div>
    </div>

    <!-- FORM -->
    <div class="form-box">
        <div class="icon-img">
            <i class="fas fa-book-open"></i>
        </div>

        <!--        Content for the Archived Selection requests goes here.-->

    </div>
</div>

{% endblock %}

