{% extends "modulesApplication/main/base_office.html" %}
{% load static %}

{% block title %}Office Landing Page{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/student/studentlanding.css' %}">
{% endblock %}

{% block content %}
    <!-- IMAGE SLIDER -->
    <div class="slider">
        <div class="slides">
            <!--RADIO BUTTONS -->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">

            <!-- SLIDE IMAGES -->
            <div class="slide first">
                <div class="slide-content">
                    <h2> Office Staff Portal </h2>
                    <p> Welcome to Moodule. This is the online learning environment to access information about
                        students'
                        chosen courses
                        with
                        the given modules for the academic year 20/21.</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <h2> Welcome to moodule </h2>
                    <p> This is your online learning environment to access information about your chosen course with
                        the
                        given modules for the academic year 20/21.</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <h2> Welcome to moodule </h2>
                    <p> This is your online learning environment to access information about your chosen course with
                        the
                        given modules for the academic year 20/21.</p>
                </div>
            </div>

            <!-- AUTOMATIC NAVIGATION OF SLIDES-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

        </div>
        <!--MANUAL NAVIGATION OF SLIDES-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>

    <!-- LANDING PAGE CONTAINER -->
    <div class="lp-container">

        <!-- Downloadable CSVs BOX -->
        <div class="lp-box" id="lpb-mc">
            {#<!--            The contents of the href are: {% url '#'%} without the full stop of course--> #}
            <a class="b-btn">
                <h2> Downloadable CSVs </h2>
                <div class="lp-content" id="lpc-cm">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-download"></i>
                        </div> <br>
                        <br>
                        <hr class="solid">
                        <br>
                    </div>
                    <p> Download: </p>
                    <div class="lp-list">
                        <ul>
                            <li><a href="{% url 'modulesApplication:csv' 'Programme' %}"><i class="fas fa-book-reader"></i>  All Programmes</a></li>
                            <li><a href="{% url 'modulesApplication:csv' 'Module' %}"><i class="fas fa-book-open"></i>   All Modules</a></li>
                            <li><a href="{% url 'modulesApplication:csv' 'ModuleSelection' %}"> <i class="fas fa-user-graduate"></i>  Student Module
                                Selection
                                Requests</a></li>
                        </ul>
                    </div>
                    <br>
                </div>
            </a>
        </div>

        <!-- UPLOAD FILE -->
        <div class="lp-box" id="lpb-ac">
            <a class="b-btn">
                <h2> Uploading CSV Changes</h2>
                <div class="lp-content" id="lpc-ac">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-file-upload"></i>
                        </div> <br>
                        <br>
                        <hr class="solid">
                        <br>
                    </div>

                    <div class="lp-form">
                        <form class="file-form" action="{% url 'modulesApplication:office-landing' %}" method="post" ,
                            enctype="multipart/form-data" class="form_csv">
                            {% csrf_token %}
                            <!-- To add styling to the form need to add a class in modulesApplication/database/csvForm.py -->
                            <label> Choose File: </label>
                            <div class="file-upload">
                                <div class="file-select">
                                  <div class="file-select-button" id="fileName"><i class="fas fa-upload"></i></div>
                                  <div class="file-select-name" id="noFile">No file chosen...</div> 
                                  {{ form.csv_upload }}
                                </div>
                              </div>
                            <br>
                            <label for="id_data"> Choose Model: </label>

                            <div class="choose-model">
                                <div class="cms-button" id="fileName"><i class="fas fa-box"></i></div>
                                {{ form.data }}
                            </div>
                            <br>
                            <input class="manual-btn" type="submit" value="submit"/>
                        </form>
                    </div>
                </div>
            </a>
        </div>

        <!-- CONFIGURATIONS BOX -->
        <div class="lp-box" id="lpb-ac">
            <a class="b-btn">
                <h2> Configurations </h2>
                <div class="lp-content" id="lpc-ac">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-users-cog"></i>
                        </div> <br>
                        <br>
                        <hr class="solid">
                        <br>
                    </div>
                    <div class="lp-list">
                        <ul>
                            <li><a href="{% url 'modulesApplication:view-course-leaders' %}"><i class="fas fa-chalkboard-teacher"></i>  Configure Course
                                Leaders</a></li>
                            <li><a href="{% url 'modulesApplication:staff-view-modules' %}"><i class="fas fa-book"></i>  Configure Modules</a>
                            </li>
                            <li><a href="{% url 'modulesApplication:staff-view-people' %}"><i class="fas fa-users"></i>  Configure People</a></li>
                            <li><a href="{% url 'modulesApplication:staff-view-strands' %}"><i class="fas fa-layer-group"></i>  Configure Strands</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- CHOOSE FILE SCRIPT -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        $('#id_csv_upload').bind('change', function () {
            var filename = $("#id_csv_upload").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("No file chosen..."); 
            }
            else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
            }
        });
    </script>
    <!-- AUTOMATIC NAVIGATION SCRIPT-->
    <script>
        let counter = 1;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 15000);
    </script>

    {% autoescape off %}
        <script>
            window.onload = function () {
                var db_reply = "{{ message }}";
                if (db_reply !== '') {
                    alert(db_reply)
                }
            };
        </script>
    {% endautoescape %}
{% endblock %}