{% extends "modulesApplication/main/base_office.html" %}
{% load static %}

{% block title %}CSV Downloads Page{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/student/choosemodules.css' %}">
{% endblock %}

{% block content %}
    <div class="page-wrapper">

        <!-- IMAGE BAR -->
        <div class="image-box">
            <div class="ib-content">
                <h2><i class="fas fa-book-open"></i> Csv Downloads and Uploads</h2> <br>
            </div>
        </div>

        <div class="form-box">
            <div class="icon-img">
                <i class="fas fa-book-open"></i>
            </div>
            </p>
            <ul>
                <h2>Csv downloads</h2>
                <div class="panel" disabled="False" id="module">
                    <ul>
                        <button class="moreInfoButton"><a href="{% url 'modulesApplication:csv' 'Programme' %}">Programmes</a>
                        </button>
                        <button class="moreInfoButton"><a href="{% url 'modulesApplication:csv' 'Module' %}">Modules</a>
                        </button>
                        <button class="moreInfoButton"><a href="{% url 'modulesApplication:csv' 'People' %}">Course
                            leaders</a></button>
                        <button class="moreInfoButton"><a href="{% url 'modulesApplication:csv' 'ModuleSelection' %}">Student
                            request
                            status</a></button>
                        {#    <li><a href="{% url 'modulesApplication:csv' 'selections' %}" class="model">Student choices</a></li>  #}
                    </ul>
                    <h2>Csv Uploads </h2>
                    <form action="{% url 'modulesApplication:csv-downloads' %}" method="post" ,
                          enctype="multipart/form-data" class="form_csv">
                        {% csrf_token %}
                        {{ form }}
                        <input class="moreInfoButton" type="submit" value="submit"/>
                    </form>
                    {% if message %}
                        <p id="para">{{ message }}</p>
                    {% endif %}

                </div>
            </ul>
        </div>
    </div>
{% endblock %}