{% extends "modulesApplication/base_office.html" %}
{% load static %}

{% block title %}Choose Modules{% endblock %}

{% block head_css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/choosemodules.css' %}">
{% endblock %}


{% block content %}
<div class="page-wrapper">
    <!-- IMAGE BAR -->
    <div class="image-box">
        <div class="ib-content">
            <h2><i class="fas fa-book-open"></i> student module selection requests</h2> <br>
        </div>
    </div>

    <!-- FORM -->
    <div class="form-box">
        <div class="icon-img">
            <i class="fas fa-book-open"></i>
        </div>
        <table class="form-box">
            <tr>
                {% for header in headers %}
                    <th>{{ header|title }}</th>
                {% endfor %}
                <th>More info</th>
            </tr>
            {% for selection in selections_list %}
                <tr>
                <th>{{ selection.id }}</th>
                <th>{{ selection.student_id }}</th>
                <th>{{ selection.stage }}</th>
                <th>{{ selection.entry_year }}</th>
                <th>{{ selection.status }}</th>
                <th>{{ selection.programme_id }}</th>
                <th><button class="submit-btn" onclick="openForm('{{ selection.id }}')">Details</button></th>
                </tr>
            {% endfor %}
        </table>

    <div id="modalOne" class="modal">
        <div class="modal-content">
          <a class="close" onclick="closeForm()">&times;</a>
          <form action="{% url 'modulesApplication:selection-requests' %}" method="POST">
              {% csrf_token %}
            <h2>Selection </h2>
              <input hidden id="selection_id" name="selection_id" value="te">
            <table class="details">
            <tr>
                <th><label for="student_name"><b>Student Name</b></label></th>
                <th id="student_name">EXAMPLE</th>
            </tr>
            <tr>
                <th><label for="student_id"><b>Student Number</b></label></th>
                <th id="student_id">012345</th>
            </tr>
            <tr>
                <th><label for="programme"><b>Student Degree</b></label></th>
                <th id="programme">1067</th>
            </tr>
            <tr>
                <th><label for="entry_year"><b>Entry Year</b></label></th>
                <th id="entry_year" name="entry_year" value="2021">2000</th>
            </tr>
            <tr>
                <th><label for="modules"><b>Modules choices</b></label></th>
                <th id="modules">CS2900</th>
            </tr>

            </table>
            <input type="submit" class="Abtn" name="Approved" value="Approve">
            <input type="submit" class="Dbtn" name="Denied" value="Deny">

          </form>
        </div>
    </div>
        {% comment %}{% for selections in selections_list %}
            <ul>
                <button class="ib-content">
                    {{ selections.student_id }}
                </button>
            </ul>
        {% endfor %}{% endcomment %}

        <!--        Content for the Selection requests goes here.-->

    </div>
</div>
<style>
      .modal {
        display: none;
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .modal-content{
          margin: auto;
          width: 50%;
          padding: 10px;
      }
      form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: #90948e;
      }
      .Abtn {
        width: 40%;
        padding: 10px;
        align:left;
        border: none;
        background: #20a115;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        opacity: 0.7;
      }
      .Dbtn {
        width: 40%;
        padding: 10px;
        align:right;
        border: none;
        background: #ff0000;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        opacity: 0.7;
      }
      .Abtn:hover,
      .Dbtn:hover{
        opacity: 1;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
</style>

{% autoescape off %}
<script>

    selections_list = {{ list_of_selections }};
    function openForm(selected) {
        console.log(selections_list);
        for (var x in selections_list){
            if (selections_list[x].id == selected) {
                document.getElementById("selection_id").value = selected;

                document.getElementById("student_name").innerHTML = selections_list[x].student_name;
                document.getElementById("student_id").innerHTML = selections_list[x].student_id;
                document.getElementById("programme").innerHTML = selections_list[x].programme_id;
                document.getElementById("entry_year").innerHTML = selections_list[x].entry_year;
                document.getElementById("modules").innerHTML = selections_list[x].modules;
            }
        }
        document.getElementById("modalOne").style.display = "block";
    }

    function closeForm() {
        document.getElementById("modalOne").style.display = "none";
    }

    window.addEventListener("pageshow", function (event) {
        let reloaded = event.persisted ||
            (typeof window.performance != "undefined"&&
                              window.performance.navigation.type >= 2);
        if (reloaded) {
            window.location.reload();
        }
    });
</script>
{% endautoescape %}
{% endblock %}

