{% extends "modulesApplication/main/base_office.html" %}
{% load static %}

{% block title %}Choose Modules{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/office/selectionrequests.css' %}">
{% endblock %}


{% block content %}
<div class="page-wrapper">
    <!-- IMAGE BAR -->
    <div class="image-box">
        <div class="ib-content">
            <h2><i class="fas fa-book-open"></i> student module selection requests</h2> <br>
        </div>
    </div>

    <!-- FORM -->
    <div class="table-box">
        <div class="icon-img">
            <i class="fas fa-book-open"></i>
        </div>
        <h1>Selection Requests</h1>
        <br>
        <div class="table-scroll">
            <table class="content-table">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header|title }}</th>
                    {% endfor %}
                    <th>More info</th>
                </tr>
                </thead>
                <tbody>
                {% for selection in selections_list %}
                    <tr>
                        <td data-label="ID">{{ selection.id }}</td>
                        <td data-label="STUDENT ID">{{ selection.student_id }}</td>
                        <td data-label="STUDENT NAME">{{ selection.student_name }}</td>
                        <td data-label="SELECTION STAGE">{{ selection.stage }}</td>
                        <td data-label="ENTRY YEAR">{{ selection.entry_year }}</td>
                        <td data-label="STATUS">{{ selection.status }}</td>
                        <td data-label="PROGRAMME ID">{{ selection.programme_id }}</td>
                        <td data-label="DATE REQUESTED">{{ selection.date_requested }}</td>
                        <td data-label="MORE INFO">
                            <button class="details-btn" onclick="openForm('{{ selection.id }}')">Details</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div id="modalOne" class="modal">
            <div class="modal-content">
                <a class="close" onclick="closeForm()">&times;</a>
                <form class="modal-form" action="{% url 'modulesApplication:selection-requests' %}" method="POST">
                    {% csrf_token %}
                    <h1>Selection </h1>
                    <input hidden id="selection_id" name="selection_id" value="te">
                    <table class="details">
                        <tr>
                            <td class="details-label"><b>STUDENT NAME</b></td>
                            <td class="details-cell" id="student_name">**EXAMPLE**</td>
                        </tr>
                        <tr>
                            <td class="details-label"><b>STUDENT NUMBER</b></td>
                            <td class="details-cell" id="student_id">012345</td>
                        </tr>
                        <tr>
                            <td class="details-label"><b>STUDENT DEGREE</b></td>
                            <td class="details-cell"  id="programme">1067</td>
                        </tr>
                        <tr>
                            <td class="details-label"><b>ENTRY YEAR</b></td>
                            <td class="details-cell" id="entry_year">2000</td>
                        </tr>
                        <tr>
                            <td class="details-label"><b>MODULES CHOICES</b></td>
                            <td class="details-cell" id="modules">CS2900</td>
                        </tr>
                        <tr>
                            <td class="details-label"><b>COMMENTS</b></td>
                            <td class="details-cell" ><input type="text" name="comment" placeholder="Reasoning..."></td>
                        </tr>

                    </table>
                    <br>
                    <input type="submit" class="Abtn" name="Approved" value="APPROVE">
                    <input type="submit" class="Dbtn" name="Denied" value="DENY">


                </form>
            </div>
        </div>
        {% comment %}{% for selections in selections_list %}
        <ul>
            <button class="ib-content">
                {{ selections.student_id }}
            </button>
        </ul>
    {% endfor %}{% endcomment %}

        <!--        Content for the Selection requests goes here.-->

    </div>
</div>


{% autoescape off %}
    <script>

        selections_list = {{ list_of_selections }};

        function openForm(selected) {
            console.log(selections_list);
            for (var x in selections_list) {
                if (selections_list[x].id == selected) {
                    document.getElementById("selection_id").value = selected;
                    document.getElementById("student_name").innerHTML = selections_list[x].student_name;
                    document.getElementById("student_id").innerHTML = selections_list[x].student_id;
                    document.getElementById("programme").innerHTML = selections_list[x].programme_name;
                    document.getElementById("entry_year").innerHTML = selections_list[x].entry_year;
                    document.getElementById("modules").innerHTML = selections_list[x].modules;
                }
            }
            document.getElementById("modalOne").style.display = "block";
        }

        function closeForm() {
            document.getElementById("modalOne").style.display = "none";
        }

        window.addEventListener("pageshow", function (event) {
            let reloaded = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type >= 2);
            if (reloaded) {
                window.location.reload();
            }
        });

        function sortTableByColumn(table, column, asc = true) {
            const dirModifier = asc ? 1 : -1;
            const tBody = table.tBodies[0];
            const rows = Array.from(tBody.querySelectorAll("tr"));

            // Sort each row
            const sortedRows = rows.sort((a, b) => {
                let aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                let bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                if (!isNaN(aColText)){
                    aColText = parseInt(aColText)
                    bColText = parseInt(bColText)
                }
                return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
            });

            // Remove all existing TRs from the table
            while (tBody.firstChild) {
                tBody.removeChild(tBody.firstChild);
            }

            // Re-add the newly sorted rows
            tBody.append(...sortedRows);

            // Remember how the column is currently sorted
            table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-asc", asc);
            table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-desc", !asc);
        }

        document.querySelectorAll(".table-box th").forEach(headerCell => {
            headerCell.addEventListener("click", () => {
                const tableElement = headerCell.parentElement.parentElement.parentElement;
                const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
                const currentIsAscending = headerCell.classList.contains("th-sort-asc");

                sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
            });
        });

        {#sortTableByColumn(document.querySelector("table"), 0, false)#}

    </script>
{% endautoescape %}
{% endblock %}

