/* Google font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* General - put in this section if there are repeated elements for the pages */
body {
    background-color: #222;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    list-style: none;
    text-decoration: none;
    
    color: black;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

/* Main page components - section for CSS of index.html */
.topbar {
    width: 100%;
    height: 40px;
    background:rgb(48, 48, 48);
    z-index: 3;
}

.topbar .title {
    color: #d85f26;
    font: bold;
    font-size: 25px;
    float: left;
    margin-left: 80px;
    font-family: 'Lato', sans-serif;
}

/*
.logotext {
    float: left;
    margin-left: 65px;
    margin-top: 0px;
    width: 125px;
    height: 40px;
}
*/

.search-form {
    margin-top: 5px;
    float: right;
    margin-right: 100px;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #d85f26;
    transition: all .5s ease;
    z-index: 5;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(38, 38, 38);
    user-select: none;
}

.mainlogo {
    width: 130px;
    height: 130px;
    top: -20px;
    left: calc(50% - 50px);
    border-radius: 2%;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 4px solid rgb(38, 38, 38);
    transition: all .35s;
}

ul li:hover a{
    padding-left: 35px;
    background: #ff905d;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
}

label #btn {
    left: 25px;
    top: 8px;
    font-size: 18px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 8px;
    font-size: 18px;
    color: white;
    padding: 4px 9px;
    transition: all .5 ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 25px;
    opacity: 50%;
}

#check:checked ~ section {
    margin-left: 250px;
}

section {
    background: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

.middle {
    position: absolute;
    top: 300px;
    left: 700px;
    transform: translate(-50%, -50%);
}

.list {
    width: 800px;
    border-radius: 8px;
    overflow: hidden;
}

.item {
    border-top: 1px solid #d85f26;
    overflow: hidden;
}

.btn {
    display: block;
    padding: 16px 20px;
    background: #d85f26;
    color: white;
    position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background:#d85f26;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i{
    margin-right: 10px;
}

.content {
    background: #333;
    color: white;
    padding: 0px 10px;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.content a {
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.content a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #d85f26;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.content a:hover:before {
    opacity: 1;
}

.item:target .content {
    max-height: 20em;
}

/* All Modules components - section for CSS of the AllModules.html */

/* Student Choose Page components - section for CSS of the StudentChooseModules.html */

/* Student Landing Page components - section for CSS of the StudentLandingPage.html */