{% extends "modulesApplication/main/base_student.html" %}
{% load static %}

{% block title %}Student Homepage{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/student/studentlanding.css' %}">
{% endblock %}

{% block content %}
    <!-- IMAGE SLIDER -->
    <div class="slider">
        <div class="slides">
            <!--RADIO BUTTONS -->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">

            <!-- SLIDE IMAGES -->
            <div class="slide first">
                <div class="slide-content">
                    <h2> Welcome to moodule </h2>
                    <p> This is your online learning environment to access information about your chosen course with
                        the
                        given modules for the academic year 20/21.</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <h2> Welcome to moodule </h2>
                    <p> This is your online learning environment to access information about your chosen course with
                        the
                        given modules for the academic year 20/21.</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <h2> Welcome to moodule </h2>
                    <p> This is your online learning environment to access information about your chosen course with
                        the
                        given modules for the academic year 20/21.</p>
                </div>
            </div>

            <!-- AUTOMATIC NAVIGATION OF SLIDES-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

        </div>
        <!--MANUAL NAVIGATION OF SLIDES-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>

    <!-- LANDING PAGE CONTAINER -->
    <div class="lp-container">

        <!-- CHOOSE MODULES BOX -->
        <div class="lp-box" id="lpb-cm">
            <a href="{% url 'modulesApplication:choice-pathway' %}" class="b-btn">
                <h2> choose modules </h2>
                <div class="lp-content" id="lpc-cm">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-book"></i>
                        </div>
                        <br>
                        <p> Choose the available modules for each term, based on the choice of your course. </p>
                    </div>
                </div>
                <br>
            </a>
        </div>
`
        <!-- ALL COURSES BOX -->
        <div class="lp-box" id="lpb-ac">
            <a href="{% url 'modulesApplication:all-modules' %}" class="b-btn">
                <h2> all courses </h2>
                <div class="lp-content" id="lpc-ac">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-book-open"></i>
                        </div>
                        <br>
                        <p> View the complete degree specification and requirements for all the available courses.
                        </p>
                    </div>
                </div>
                <br>
            </a>
        </div>

        <!-- MY COURSES BOX -->
        <div class="lp-box" id="lpc-mc">
            <a href="{% url 'modulesApplication:my-selection' %}" class="b-btn">
                <h2> my selection</h2>
                <div class="lp-content" id="lpc-cm">
                    <div class="icon-box">
                        <div class="icon-effect">
                            <i class="fas fa-address-card"></i>
                        </div>
                        <br>
                        <p> View your current / pending module selection for this year. </p>
                    </div>
                </div>
                <br>
            </a>
        </div>
    </div>

    <!-- AUTOMATIC NAVIGATION SCRIPT-->
    <script>
        let counter = 1;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 15000);
    </script>
{% endblock %}