{% extends "modulesApplication/main/base_student.html" %}

{% block title %} My Selection {% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/student/studentselection.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <!-- IMAGE BAR -->
    <div class="image-box">
        <div class="ib-content">
            <h2><i class="fas fa-book-open"></i> my selection </h2> <br>
        </div>
    </div>

    <!-- MAIN BOX -->
    <div class="main-box">
        <div class="icon-img">
            <i class="fas fa-book-open"></i>
        </div>
        <div class="mb-content">
            <h1>Student Selection</h1>
            <h3>ID Information: </h3>
            <ul class="id-section">
                <li> <i class="fas fa-user"></i> Student ID: {{ selection.student_id }} </li>
                <li> <i class="fas fa-user"></i> Selection ID: {{ selection.id }}</li>
            </ul>

            <h3>Degree Information: </h3>
            <ul class="stage-section">
                <li> <i class="fas fa-book"></i> Degree Title: {{ selection.programme.title }}</li>
                <li><i class="fas fa-book"></i> Stage: {{ selection.stage }}</li>
                <li><i class="fas fa-book"></i> Entry year: {{ selection.entry_year }}</li>
            </ul>

            <h3>Status Information: </h3>
            <ul class="status-section">
                <li> <i class="fas fa-hourglass-half"></i>  Status: {{ selection.status }}</li>
            </ul>

            <h3>Modules selected: </h3>
            <ul class="module-section">
                {% for module in modules %}
                    <li><i class="fas fa-book-reader"></i> {{ module.mod_code }} - {{ module.title }}</li>
                {% endfor %}
            </ul>

            <h3>Comments:</h3>
            <ul class="comments-section">
                <li><i class="fas fa-comment"></i>  {{ selection.comments }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
