/* Google font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');

/* --[[ SLIDER ]] */

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border-bottom: 3px solid orangered;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 600%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    transition: 2s;
}

.slide-content {
    position: relative;
    color: black;
    margin-top: 0;
    padding: 60px;
    display: block;
    height: 50%;
    width: 75%;
}

.slide-content h2 {
    padding: 5px;
    color: white;
    background: #141414;
    border-top: 5px orangered solid;
}

.slide-content p {
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-left: 5px orangered solid;
    color: white;
    width: 90%;
}


.slide img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}

/* --[[ SLIDER - MANUAL NAVIGATION ]] */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid orangered;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: orangered;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

/* --[[ SLIDER - AUTOMATIC NAVIGATION ]] */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid orangered;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: orangered;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: orangered;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: orangered;
}

/* --[[ BOXES ]] */

.lp-container {
    margin: 0 auto;
    width: 80%;
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.lp-box {
    margin: 0.25% 0.4%;
    width: 80%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    background: url(../images/buttons/slp-button.png);
    background-size: cover;
    color: white;
    cursor: pointer;
    position: relative;
    opacity: 90%;
    transition: 0.25s;
    border-radius: 15px;
}

.lp-box:hover {
    background-position: right;
    transform: scale(1.025);
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.511);
    opacity: 100%;
    transition: 0.25s;
}

.lp-box:hover > a .lp-content .icon-box p {
    transform: translateY(0%);
    opacity: 100%;
}

.lp-box:hover > a h2 {
    border-radius: 15px 15px 0 0;
    transition: 0.25s;
}

.lp-box a h2 {
    font-size: 17px;
    text-align: center;
    border-top: 2px orangered solid;
    background: rgba(0, 0, 0, 0.65);
    margin-bottom: 5%;
    position: relative;
    border-radius: 15px 15px 0 0;
}

.lp-box a .lp-content h3 {
    margin-top: 5%;
    margin-left: 5%;
    padding: 5px;
    position: relative;
}

.lp-content {
    margin: auto;
    width: 90%;
    height: 80%;
    display: block;
    box-sizing: border-box;
    background-image: linear-gradient(black, rgb(27, 27, 27));
    background-size: cover;
    color: white;
    font-size: 13px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.lp-box a .lp-content .term-module-list {
    padding: 2px;
    width: 95%;
    height: 35vh;
    display: block;
    overflow-y: scroll;
}

.lp-content .term-module-list li {
    padding: 5px;
    margin: 10px auto;
    width: 95%;
    height: auto;
    opacity: 100%;
    display: block;
    box-sizing: border-box;
    border-left: 5px orangered solid;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(45, 45, 45));
    background-size: cover;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.lp-content li {
    padding: 5px;
}

#lpc-cm, #lpc-ac {
    display: block;
    padding: 2%;
    border-radius: 0;
    text-align: center;
    background: none;
    margin: 5px auto;
    font-size: 15px;
}

.icon-box > p {
    opacity: 0;
    transform: translateY(150%);
    transition: transform 0.25s;
}

#lpc-cm .icon-box, #lpc-ac .icon-box {
    margin-top: 10px;
    margin-left: 9%;
}

#lpc-cm i, #lpc-ac i {
    font-size: 60px;
    align-items: center;
}

.lp-box a {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: block;
}