/* Google font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');

/* --[[ SLIDER ]] */

.slider {
    position: relative;
    width: 100%;
    height: 275px;
    border-radius: 10px;
    border-bottom: 3px solid black;
    background: linear-gradient(180deg, rgb(137, 36, 0), rgb(155, 101, 0), rgb(201, 127, 0));
    background-size: 400% 400%;
    animation: ib-gradient 10s ease infinite;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 600%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    transition: 2s;
}

.slide-content {
    position: relative;
    color: black;
    margin-top: 0;
    padding: 60px;
    display: block;
    height: 50%;
    width: 75%;
}

.slide-content h2 {
    padding: 5px;
    color: white;
    background: #141414;
    border-top: 5px orange solid;
}

.slide-content p {
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-left: 5px orange solid;
    color: white;
    width: 90%;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 0%;
    }
    50% {
        background-position: 0% 75%;
    }
    100% {
        background-position: 0 0%;
    }
}


/* --[[ SLIDER - MANUAL NAVIGATION ]] */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    padding: 5px;
    border-radius: 10px;
    background: black;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.25s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: orange;
    border: 2px solid black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

/* --[[ SLIDER - AUTOMATIC NAVIGATION ]] */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: black;
}

/* --[[ BOXES ]] */

.lp-box {
    margin: 0.25% 0.4%;
    display: block;
    box-sizing: border-box;
    background: url(../images/buttons/slp-button-b.png);
    background-size: cover;
    color: white;
    cursor: pointer;
    position: relative;
    opacity: 90%;
    transition: 0.25s;
    border-radius: 5px;
}

.lp-box:hover {
    background-position: right;
    transform: scale(1.025);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.511);
    opacity: 100%;
    transition: 0.25s;
}

.lp-box:hover > a .lp-content .icon-box p {
    transform: translateY(0%);
    opacity: 100%;
}

.lp-box:hover > a h2 {
    border-radius: 5px 5px 0 0;
    transition: 0.25s;
}

.lp-box a h2 {
    font-size: 18px;
    text-align: center;
    border-top: 2px orange solid;
    background: rgba(0, 0, 0, 0.65);
    margin-bottom: 5%;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.lp-box a .lp-content h3 {
    margin-top: 5%;
    margin-left: 5%;
    padding: 5px;
    position: relative;
}

.lp-content {
    margin: auto;
    width: 90%;
    height: 80%;
    display: block;
    box-sizing: border-box;
    background-image: linear-gradient(black, rgb(27, 27, 27));
    background-size: cover;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.lp-box a .lp-content .term-module-list {
    padding: 2px;
    width: 95%;
    height: 85%; 
    display: block;
    overflow-y: scroll;
}

.lp-content .term-module-list li {
    padding: 5px;
    margin: 10px auto;
    width: 95%;
    height: auto;
    box-sizing: border-box;
    opacity: 100%;
    display: block;
    border-left: 5px orange solid;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(45, 45, 45));
    background-size: cover;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.lp-content li {
    padding: 5px;
}

.icon-box > p {
    opacity: 0;
    transform: translateY(150%);
    transition: transform 0.25s;
}

#lpc-cm .icon-box, #lpc-ac .icon-box {
    margin-top: 10px;
    margin-left: 2%;
}

#lpc-cm i, #lpc-ac i {
    font-size: 60px;
    align-items: center;
}

.lp-box a {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: block;
}

/* --[[ MEDIA QUERIES - RESPONSIVE SIZES ]]-- */
/* Full-screen */

.lp-container {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-areas:
      "grid-mycourses grid-choosemodules grid-allcourses";
}

#lpc-mc {
    grid-area: grid-mycourses;
    display: grid;
}

#lpc-cm {
    grid-area: grid-choosemodules;
    display: grid;
    padding: 2%;
    border-radius: 0;
    text-align: center;
    background: none;
    margin: 5px auto;
    font-size: 18px;
}

#lpc-ac {
    grid-area: grid-allcourses;
    display: grid;
    padding: 2%;
    border-radius: 0;
    text-align: center;
    background: none;
    margin: 5px auto;
    font-size: 18px;
}

@media only screen and (min-width: 55.875em) {
    .lp-row {
        display: flex;
        flex-wrap: wrap;
    }

    .lp-box {
        width: 50%;
    }

    .lp-box:last-child {
        width: 100%;
    }
}

@media only screen and (min-width: 55.875em) {
    .lp-row {
        flex-wrap: nowrap;
    }

    .lp-box,
    .lp-box:last-child {
        width: 33.3333%;
    }
}

