<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %}homepage{% endblock title %}</title>
    <meta name="description" content="TBD">
    <meta name="author" content="TBD">
    {% block head_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main/master.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="icon" type="image/png" href="{% static 'modulesApplication/images/icons/favicon.png' %}">
    {% endblock head_css %}
</head>

<body>
<!-- OVERLAY (FOR DARKENED PAGE WHEN MENU SELECTED)-->
<div id="overlay" onclick=""></div>

<!-- PAGE WRAPPER -->
<div class="not-wrapper" id="wrapper">
    <input type="checkbox" id="sidebar-checkbox">
    <input type="checkbox" id="avatar-check">

    <!-- SIDEBAR MENU -->

        <div class="sidebar">
            <ul class="btn-list" style="overflow: hidden; height: 100%;">
                {% block sidebar-links %} <!-- Let the links be subclassed if provided, otherwise this is the default. -->
                    <li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
                            class="fas fa-home"></i>student landing</a></li>
                    <li><a href="{% url 'modulesApplication:office-landing' %}" class="btn"><i
                            class="fas fa-home"></i>office landing</a></li>
                {% endblock sidebar-links %}
            </ul>
        </div>

    <!-- TOP BAR -->
    <nav class="topbar">
        <div class="wrapper">
            <div class="side">
                <label for="sidebar-checkbox">
                    <i class="fas fa-bars" id="btn"></i>
                </label>

                <a href="{% url 'modulesApplication:index' %}"><label class="title"> moodule.</label></a>
            </div>

            <div class="sideTwo">

                {% if user.is_authenticated %}
                <div class="logout">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
                {% else %}
                <div class="sign-in">
                    <a href="{% url 'login' %}">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- MENU OVERLAY SCRIPT -->
    <script>
        let checkbox = document.querySelector("#sidebar-checkbox");

        checkbox.addEventListener('change', function () {
            if (this.checked) {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "block";
            } else {
                document.getElementById("overlay").style.transition = '0.5s';
                document.getElementById("overlay").style.display = "none";
            }
        });

        function changeStyle() {
            document.getElementById("wrapper").className = "page-wrapper2";
        }

    </script>
    
    <!-- CONTENT GOES HERE -->

</div>

<div class="page-wrapper">
    {% block content %}
    {% endblock %}
</div>

<!-- FOOTER - links will be added later -->
<footer>
        <p>Royal Holloway, University of London</p>
        <p>@ 2021 module.com | Designed by CSB15 Group 34</p>
        <p>Terms & Conditions | Privacy Policy</p>
</footer>

{% block scripts %}
{% endblock %}

</body>
</html>
