{% extends "modulesApplication/main/base.html" %}

{% block sidebar-links %}
<li><a href="{% url 'modulesApplication:office-landing' %}" class="btn"><i class="fas fa-home"></i>home</a></li>
<li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
    courses</a></li>
<li><a class="btn">
        <i class="fas fa-user-check"></i>
        requests
        <i class="fas fa-angle-right dropdown"></i>
    </a>
    <ul class="sub-menu">
        <li><a class="sub-btn" href="{% url 'modulesApplication:selection-requests' %}" class="btn"><i
                    class="fas fa-check-square"></i>selection
                requests</a></li>
        <li><a class="sub-btn" href="{% url 'modulesApplication:archived-selection-requests' %}" class="btn"><i
                    class="fas fa-archive"></i>archived
                requests</a></li>
    </ul>
</li>
<li><a class="btn">
        <i class="fas fa-pen"></i>
        configurations
        <i class="fas fa-angle-right dropdown"></i>
    </a>
    <ul class="sub-menu">
        <li><a class="sub-btn" href="{% url 'modulesApplication:view-course-leaders' %}"><i
                    class="fas fa-chalkboard-teacher"></i>course
                leaders</a></li>
        <li><a class="sub-btn" href="{% url 'modulesApplication:staff-view-modules' %}"><i
                    class="fas fa-book"></i>modules</a></li>
        <li><a class="sub-btn" href="{% url 'modulesApplication:staff-view-people' %}"><i
                    class="fas fa-users"></i>people</a></li>
        <li>
            <a class="sub-btn" href="{% url 'modulesApplication:staff-view-strands' %}"><i
                    class="fas fa-layer-group"></i>strands</a>
        </li>
    </ul>
</li>
{% endblock %}