{% extends "modulesApplication/main/base.html" %}

{% block sidebar-links %}
    <li><a href="{% url 'modulesApplication:office-landing' %}" class="btn"><i
            class="fas fa-home"></i>home</a></li>
    <li><a href="{% url 'modulesApplication:academic-selection-requests' %}" class="btn"><i class="fas fa-book-open"></i>selection
        requests</a></li>
    <li><a href="{% url 'modulesApplication:all-modules' %}" class="btn"><i class="fas fa-book-open"></i>all
        courses</a></li>
{% endblock %}