{% extends "modulesApplication/main/base.html" %}

{% block title %}Index{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'modulesApplication/css/main/home.css' %}">
{% endblock %}

{% block sidebar-links %}
<li><a href="{% url 'modulesApplication:student-landing' %}" class="btn"><i
        class="fas fa-home"></i>student landing</a></li>
<li><a href="{% url 'modulesApplication:office-landing' %}" class="btn"><i
        class="fas fa-home"></i>office landing</a></li>
{% endblock %}

{% block content %}
<h1>Welcome to your moodule selection portal</h1>
        <div class="bgHome">
</div>
{% endblock %}
