/* --[[ GOOGLE FONT IMPORTS ]]-- */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

/* --[[ HTML, BODY ]]-- */
html, body {
    background: #f1ebeb;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    list-style: none;
    text-decoration: none;

    color: white;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* * */
* {
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* --[[ WRAPPER ]]-- */
.page-wrapper {
    min-height: 100%;
    position: relative;
}

.page-wrapper2 {
    min-height: 100%;
    background-size: 400% 400%;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* --[[ OVERLAY - SIDEBAR ACTIVATED ]]-- */

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    z-index: 5;
    cursor: pointer;
    transition: 0.5s;
}

#overlay:active {
    display: none;
}

/* --[[ SCROLLBAR ]]-- */

::-webkit-scrollbar {
    width: 10px;
    z-index: 1000;
}

::-webkit-scrollbar-track {
    border: 7px solid black;
    box-shadow: inset 0 0 2.5px 2px black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(79, 79, 79);
    border-radius: 5px;
}

/* --[[ TOPBAR ]]-- */

.topbar {
    width: 100%;
    height: 90px;
    background: #FF9046;
    z-index: 5;
    overflow: visible;
    position: fixed;
}

.user {
    width: 100%;
    max-width: 40px;
    margin-left: 20px;
    align-self: center;
}


.topbar .wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.topbar .side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
}

.topbar .sideTwo {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
}

.topbar .title {
    color: white;
    font-weight: 500;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

/* --[[ TB: AVATAR BOX ]]-- */

.avatar-box {
    position: absolute;
    width: 16px;
    height: 12px;
    top: 19px;
    right: 0;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, rgb(15, 15, 15) 0%, rgb(0, 0, 0) 51%, rgb(15, 15, 15) 100%);
    background-size: 200% auto;
    color: #ffa200;
    border-radius: 50%;
    padding: 10px;
    transition: 0.35s;
}

.avatar-box label {
    position: relative;
    top: 0;
}

.avatar-box label img {
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 0;
    transform: translate(-29%, -37.5%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: invert(66%) sepia(32%) saturate(4144%) hue-rotate(1deg) brightness(105%) contrast(104%);
    transition: 0.35s;
}

.avatar-box:hover {
    background-image: linear-gradient(to right, rgb(55, 55, 55) 0%, rgb(30, 30, 30) 51%, rgb(55, 55, 55) 100%);
    background-position: right center;
}

.avatar-box:hover > label img {
    filter: invert(90%);
}

.sign-in {
    width: 100%;
    max-width: 150px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CC6240;
    margin-left: 20px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.sign-in:hover {
    background: #ae5237;
    cursor: pointer;
    transition: all 0.3s;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

.logout {
    width: 100%;
    max-width: 150px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CC6240;
    margin-left: 20px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.logout:hover {
    background: #ae5237;
    cursor: pointer;
    transition: all 0.3s;
}

.logout a {
    text-decoration: none;
    color: white;
}

/* --[[ TB: AVATAR BOX DROPDOWN MENU ]]-- */

.dropdown-ab-menu {
    color: white;
    position: relative;
    float: right;
    width: 410px;
    height: 110px;
    background: rgb(15, 15, 15);
    border-radius: 0 0 5px 5px;
    transform: translate(150%, 40%);
    display: block;
}

.dropdown-ab-menu ul .username {
    padding-left: 2px;
    margin-left: 3px;
    color: white;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    overflow-wrap: break-word;
    font-size: 18px;

}

.dropdown-ab-menu ul .email {
    padding-left: 2px;
    margin-left: 3px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.dropdown-ab-menu ul .sign-out {
    color: white;
    padding: 2px;
    border-top: 4px solid orange;
    font-size: 18px;
}

.dropdown-ab-menu ul .sign-out a {
    display: block;
    color: white;
    width: 100%;
    margin-left: 10px;
}

.dropdown-ab-menu ul .sign-out a i {
    color: white;
}

.dropdown-ab-menu ul .sign-out:hover {
    background: rgb(50, 50, 50);
    transition: 0.25s;
}

.dropdown-ab-menu ul .sign-out:hover > a {
    margin-left: 25px;
    transition: 0.25s
}

.dropdown-ab-menu ul .email:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgb(15, 15, 15);
    left: 22px;
    bottom: 26px;
    transform: rotate(45deg);
}

#avatar-check {
    display: none;
}

#avatar-check:checked ~ .topbar .dropdown-ab-menu {
    display: block;
    transform: translate(-5%, 40%);
    transition: 0.25s;
}

#avatar-check:checked ~ .topbar .avatar-box {
    background-image: linear-gradient(to right, rgb(75, 75, 75) 0%, rgb(50, 50, 50) 51%, rgb(75, 75, 75) 100%);
    transition: 0.25s;
}


/* --[[ TB: SEARCH BOX ]]-- */
.search-box {
    background: #DE7936;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 22px;
    align-items: center;
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    padding: 12px;
}

.search-box input[type = "text"] {
    background: none;
    color: white!important;
}

.search-box input[type = "text"]:focus {
    background: none;
    width: 130px;
}

.search-box:focus {
    background: none;
    background: rgb(30, 30, 30);
}

.search-box::placeholder {
    color: white!important;
}

.search-btn {
    color: #d85f26;
    float: right;
    width: 20px;
    height: 12px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.search-btn i {
    color: white;
}

.search-btn:hover > i {
    color: orange;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white!important;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    transition: 0.25s;
    line-height: 15px;
    width: 100px;
}

.search-txt::placeholder {
    color: white;
}


/* --[[ SIDEBAR ]]-- */
.sidebar {
    position: fixed;
    left: -250px;
    top: 40px;
    width: 250px;
    height: 100%;
    background: #2E2E2E;
    transition: all .25s ease;
    z-index: 5;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.mainlogo {
    width: 130px;
    height: 130px;
    padding-top: 15px;
    top: 20px;
    left: calc(50% - 50px);
    border-radius: 2%;
    filter: contrast(200%);
}

.sidebar ul {
    margin-top: 120px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 18px;
    text-align: left;
    color: white;
    background: transparent;
    padding-left: 40px;
    box-sizing: border-box;
    transition: all .25s;
}

.sidebar ul li:hover a {
    padding-left: 35px;
    background: rgb(25, 25, 25);
}

.sidebar ul a i {
    margin-right: 16px;
    color: rgb(255, 255, 255);
}

#sidebar-checkbox {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: none;
    border-radius: 2px;
}

label #btn {
    font-size: 23px;
    color: white;
    padding: 6px 12px;
    width: 100%;
    max-width: 33px;
    transition: all .25s;
}

label #cancel {
    z-index: 500;
    left: -195px;
    top: 5px;
    font-size: 18px;
    color: white;
    padding: 6px 12px;
    transition: all .25s ease;
}

#sidebar-checkbox:checked ~ .sidebar {
    left: 0;
}

#sidebar-checkbox:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#sidebar-checkbox:checked ~ #overlay {
    display: block;
}

#sidebar-checkbox:checked ~ label #cancel {
    left: 25px;
    opacity: 50%;
}

/* --[[ SB - BUTTONS ]]-- */

.btn {
    display: block;
    padding: 16px 20px;
    background: rgb(15, 15, 15);
    color: white;
    position: relative;
}

.sidebar .btn:hover {
    background: #CC6240;
}


.btn i {
    margin-right: 10px;
}

/* --[[ MAIN-CONTENT ]-- */

.main-content {
    padding: 10px;
    width: 600px;
    height: 400px;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

.main-content h1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

.main-content h4 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.main-content p {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.main-content a {
    padding: 5px;
    margin-left: 5px;
    display: block;
    height: 30px;
    width: 300px;
    background: #141414;
    border-radius: 5px;
    border-left: 5px solid rgb(255, 135, 0);
    font-size: 20px;
    transition: 0.25s;
}

.main-content i {
    margin-right: 10px;
}

.main-content a:hover {
    background: #282828;
    margin-left: 20px;
}

/* --[[ FOOTER ]]-- */

footer {
    background:#2E2E2E;
    bottom: 0;
    position: relative;
    width: 100%;
    padding: 40px 0!important;
    align-items: center!important;
    display: flex !important;
    justify-content: space-evenly;
}

footer p {
    color: white;
    transition: all 0.3s;
    font-size: 16px;
}

footer p:hover {
    color: orange;
    cursor: pointer;
    transition: all 0.3s;
}

.blue-link a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.blue-link {
    color: blue;
}

.blue-link:visited {
    color: purple;
}

.blue-link:focus, .blue-link:hover {
    border-bottom: 1px solid;
}

.blue-link:active {
    color: red;
}