{% extends 'modulesApplication/main/base_office.html' %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'modulesApplication/css/academic/academic_listview_generic.css' %}">
{% endblock %}
{% block title %}
    Listview - change this title!
{% endblock %}
{% block content %}
    <div class="flex-centre">
        <div class="listview-div">
            <h1>{% block heading %}Model name here{% endblock %}</h1>
            {% block table %}
            {% endblock %}
            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="blue-link" href="?page=1">&laquo; first</a>
            <a class="blue-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="blue-link" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="blue-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>
        </div>
    </div>
{% endblock %}