{% extends 'modulesApplication/office/crud-templates/BaseOfficeListTemplate.html' %}

{% block title %}
    All Course Leaders
{% endblock %}
{% block heading %}
    Course Leaders
{% endblock %}
{% block table %}
    <div class="create-new-model-div">
        <a class="blue-link" href="{% url 'modulesApplication:create-course-leader' %}">Create new? </a>
    </div>

    <table>
        <tr>
            <th>Module</th>
            <th>Term/s</th>
            <th>Leader</th>
            <th>Update?</th>
            <th>Delete?</th>
        </tr>
        {% for course_leader in object_list %}
            <tr>
                <td>{{ course_leader.module_id }} - {{ course_leader.module.title }}</td>
                <td>{{ course_leader.term }}</td>
                <td>{{ course_leader.person.name }}</td>
                <td>
                    <a class="blue-link"
                       href="{% url 'modulesApplication:update-course-leader' pk=course_leader.id %}">Update/Modify</a>
                </td>
                <td>
                    <a class="blue-link"
                       href="{% url 'modulesApplication:delete-course-leader' pk=course_leader.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}