{% extends 'modulesApplication/office/crud-templates/BaseOfficeListTemplate.html' %}

{% block title %}
    All Course Leaders
{% endblock %}
{% block table %}
    <h1> Course Leaders </h1>
    <div class="create-new-model-div">
        <a class="blue-link" id="create-bl" href="{% url 'modulesApplication:create-course-leader' %}"> <i class="fas fa-plus"></i> Create new course leader? </a>
    </div>

    <div class="table-scroll">
        <table>
            <thead>
                <th>Module</th>
                <th>Term/s</th>
                <th>Leader</th>
                <th>Update?</th>
                <th>Delete?</th>
            </thead>
            <tbody>
            {% for course_leader in object_list %}
                <tr>
                    <td data-label="MODULE: "> &nbsp; {{ course_leader.module_id }} - {{ course_leader.module.title }}</td>
                    <td data-label="TERM/S: "> &nbsp; {{ course_leader.term }}</td>
                    <td data-label="LEADER: "> &nbsp; {{ course_leader.person.name }}</td>
                    <td data-label="UPDATE? ">
                        <a class="blue-link" id="update-bl"
                        href="{% url 'modulesApplication:update-course-leader' pk=course_leader.id %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td data-label="DELETE? ">
                        <a class="blue-link" id="delete-bl"
                        href="{% url 'modulesApplication:delete-course-leader' pk=course_leader.id %}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}