{% extends 'modulesApplication/main/base_office.html' %}

{% block head_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'modulesApplication/css/office/office_listview_generic.css' %}">
{% endblock %}
{% block title %}
    Delete 
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="table-box">
        <div class="icon-img">
            <i class="fas fa-trash"></i>
        </div>

        <form method="post">{% csrf_token %}
            <h2> Are you sure you want to delete</h2> 
            <br> <p> "{{ object }}"?</p>
            <input class="blue-link" id="delete-bl" type="submit" value="Confirm deletion">
        </form>
    </div>
</div>
<div class="bgHome">
</div>
{% endblock %}