{% extends 'modulesApplication/office/crud-templates/BaseOfficeListTemplate.html' %}

{% block title %}
    All Modules
{% endblock %}
{% block heading %}
    Modules
{% endblock %}
{% block table %}
    <div class="create-new-model-div">
        <a class="blue-link" href="{% url 'modulesApplication:staff-create-module' %}">Create new? </a>
    </div>
    <table>
        <tr>
            <th>Module</th>
            <th>Level</th>
            <th>Credits</th>
            <th>Prerequisites</th>
            <th>Banned Combinations</th>
            <th>Learning Outcomes</th>
            <th>Summary</th>
            <th>Project</th>
            <th>Status</th>
            <th>Update?</th>
            <th>Delete?</th>
        </tr>
        {% for module in object_list %}
            <tr>
                <td>{{ module.mod_code }} - {{ module.title|slice:":50" }}{% if module.title|length > 50 %}... {% endif %}</td>
                <td>{{ module.level }}</td>
                <td>{{ module.credits }}</td>
                <td>{{ module.prerequisites|slice:":30" }}{% if module.prerequisites|length > 30 %}... {% endif %}</td>
                <td>{{ module.banned_combinations|slice:":30" }}{% if module.banned_combinations|length > 30 %}... {% endif %}</td>
                <td>{{ module.learning_outcomes|slice:":30" }}{% if module.learning_outcomes|length > 30 %}... {% endif %}</td>
                <td>{{ module.summary|slice:":30" }}{% if module.summary|length > 30 %}... {% endif %}</td>
                <td>{{ module.project }}</td>
                <td>{{ module.status }}</td>
                <td>
                    <a class="blue-link"
                       href="{% url 'modulesApplication:staff-update-module' pk=module.mod_code %}">Update/Modify</a>
                </td>
                <td>
                    <a class="blue-link"
                       href="{% url 'modulesApplication:staff-delete-module' pk=module.mod_code %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}