{% extends 'modulesApplication/office/crud-templates/BaseOfficeListTemplate.html' %}

{% block title %}
    All People
{% endblock %}
{% block table %}
    <h1> People </h1>
    <div class="create-new-model-div">
        <a class="blue-link" id="create-bl" href="{% url 'modulesApplication:staff-create-person' %}"> <i
                class="fas fa-plus"></i> Create new person? </a>
    </div>

    <div class="table-scroll">
        <table class="content-table">
            <thead>
            <tr>
                <th>ID / Initials</th>
                <th>Name</th>
                <th>Email address</th>
                <th>Update?</th>
                <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
            {% for person in object_list %}
                <tr>
                    <td data-label="ID / INITIALS: "> &nbsp; {{ person.id }}</td>
                    <td data-label="NAME: "> &nbsp; {{ person.name }}</td>
                    <td data-label="EMAIL ADDRESS: "> &nbsp; {{ person.email }}</td>
                    <td data-label="UPDATE? ">
                        <a class="blue-link" id="update-bl"
                           href="{% url 'modulesApplication:staff-update-person' pk=person.id %}"><i
                                class="fas fa-edit"></i></a>
                    </td>
                    <td data-label="DELETE? ">
                        <a class="blue-link" id="delete-bl"
                           href="{% url 'modulesApplication:staff-delete-person' pk=person.id %}"><i
                                class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}