{% extends 'modulesApplication/main/base_office.html' %}
{% block title %}
    Update {{ verbose_name|title }}
{% endblock %}
{% block head_css %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'modulesApplication/css/office/office_listview_generic.css' %}">
    <!-- for flex centre div -->
{% endblock %}
{% block content %}
    <div class="flex-centre">
        <div class="listview-div">
            <div class="table-box">
                <div class="icon-img">
                    <i class="fas fa-edit"></i>
                </div>

                <h1>Update {{ verbose_name|title }}</h1>

                <form method="post">{% csrf_token %}
                    <div class="table-big-row">
                        <div class="table-big-col">
                            <table class="form-table">
                                <thead>
                                <tr>
                                    <th><strong>Field</strong></th>
                                    <th><strong>Value</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for field in form.visible_fields %}
                                    {% if forloop.counter < 11 %}
                                        <tr>
                                            <td class="form-ltag">{{ field.label_tag }}</td>
                                            <td class="form-td">
                                                {% if field.widget_type != "checkbox" %}
                                                    <div class="input-div">
                                                        <div class="icon-button"><i class="fas fa-edit"></i></div>
                                                        {{ field }}
                                                    </div>
                                                {% else %}
                                                    <div class="checkbox-container">
                                                        <label class="checkbox-label">
                                                            {{ field }}
                                                            <span class="checkbox-square"></span>
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-big-col">
                            {% if form.visible_fields|length >= 15 %}
                                <table class="form-table">
                                    <thead>
                                    <tr>
                                        <th><strong>Field</strong></th>
                                        <th><strong>Value</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in form.visible_fields %}
                                        {% if forloop.counter >= 15 %}
                                            <tr>
                                                <td class="form-ltag">{{ field.label_tag }}</td>
                                                <td class="form-td">
                                                    {% if field.widget_type != 'checkbox' %}
                                                        <div class="input-div">
                                                            <div class="icon-button"><i class="fas fa-edit"></i></div>
                                                            {{ field }}
                                                        </div>
                                                    {% else %}
                                                        <div class="checkbox-container">
                                                            <label class="checkbox-label">
                                                                {{ field }}
                                                                <span class="checkbox-square"></span>
                                                            </label>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-big-row">
                        {% if form.errors %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="table-big-row">
                        <input class="blue-link" id="update-bl" type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}