/* --[[ GOOGLE FONT IMPORTS ]]-- */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');


/* --[[ ALL MODULES TABLE ]]-- */

.moduleLabels{
    color: orangered;
}

.moreInfoButton{
    background-color: #ff4500;
    border-radius: 10px;
    width: 20%;
    height: 30px;
}

/* --[[ IMAGE BAR ]]-- */

.image-box{
    position: relative;
    background: linear-gradient(180deg, rgb(137, 36, 0), rgb(155, 101, 0), rgb(201, 127, 0));
    background-size: 400% 400%;
    opacity: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ib-content {
    position: relative;
    color: black;
    padding: 0 50px;
    display: block;
    height: 50%;
    width: 90%;
}

.ib-content h2 {
    padding: 5px;
    margin: 15px 0 0;
    font-size: 26px;
    color: white;
    background: rgba(30,30,30,0);
    border-left: 5px orangered solid;
    border-radius: 5px;
}

.ib-content h2 i {
    margin: 0 15px;
    color: white;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* --[[ FORM ]]-- */

.form-box {
    margin: 5% 10%;
    padding: 20px;
    width: 80%;
    height: 80%;
    background: rgba(130, 130, 130, 0.25);
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    border-top: 3px solid orangered;
    color: black;
}

.icon-img {
    width: 25%;
    height: 25%;
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
}

.icon-img i {
    padding: 20px;
    background: linear-gradient(180deg, orangered, orange);
    color: black;
    border-radius: 50%;
    border: 0px solid black;
    font-size: 60px;
}

.form-box #form_id {
    width: 90%;
    height: 100%;
    color: black;
    font-family: 'Nunito', sans-serif;
}

form#form_id h1 {
    font-size: 30px;
    border-bottom: 2px solid orangered;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

form#form_id .ul h2 {
    color: black;
}



form#form_id label {
    font-size: 17px;
    color: black;
}

form#form_id .dropdown {
    padding: 3px;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 18px;
    margin-bottom: 15px;
    width: 75%;
    background: rgb(38, 38, 38);
    border-left: 5px orangered solid;
    color: white;
    font-family: 'Nunito', sans-serif;
    transition: 0.15s;
}

form#form_id .dropdown:hover {
    width: 77%;
    background: rgb(255, 255, 255);
    color: black;
    border-left: 5px white solid;
}

form#form_id select option, select option {
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(38, 38, 38);
    color: white;
    font-family: 'Nunito', sans-serif;
}

.submit-btn,
form#form_id input[type = "submit"]  {
    background: orangered;
    width: 80px;
    height: 33px;
    margin-top: 15px;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    transition: 0.15s;
}

.submit-btn:hover,
form#form_id input[type = "submit"]:hover {
    background: rgb(255, 121, 63);
    border: 2px white solid;
    width: 90px;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #084298;
    background-color: #1d51a5;
    border-color: #b6d4fe;
}