/* --[[ GOOGLE FONT IMPORTS ]]-- */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');

/* TOP PADDING */
.page-wrapper {
    padding-top: 45px;
}

/* --[[ ALL MODULES TABLE ]]-- */

.moduleLabels{
    color: orangered;
}

.moreInfoButton{
    background-color: #ff4500;
    border-radius: 10px;
    width: 20%;
    height: 30px;
}

/* --[[ IMAGE BAR ]]-- */

.image-box{
    position: relative;
    background: #222222a1;
    background-image: url("../student/images/bg.png");
    background-repeat: no-repeat;
    background-size: 120% 10em;
    background-position: bottom left;
    opacity: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ib-content {
    position: relative;
    color: black;
    padding: 0 50px;
    display: block;
    height: 50%;
    width: 90%;
}

.ib-content h2 {
    padding: 5px;
    margin: 15px 0 0;
    font-size: 26px;
    color: white;
    background: rgba(0,0,0,0.7);
    border-left: 5px orangered solid;
    border-radius: 5px;
}

.ib-content h2 i {
    margin: 0 15px;
    color: white;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* --[[ MAIN BOX ]]-- */

.main-box {
    margin: 5% 10%;
    padding: 20px;
    width: 80%;
    height: 80%;
    background: rgba(130, 130, 130, 0.25);
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    border-top: 3px solid orangered;
    color: black;
}

.icon-img {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
}

.icon-img i {
    padding: 20px;
    background: linear-gradient(180deg, orangered, orange);
    color: black;
    border-radius: 50%;
    border: 0px solid black;
    font-size: 60px;
}


.main-box .mb-content {
    width: 95%;
    height: 100%;
    color: black;
}


.mb-content h1 {
    font-size: 30px;
    border-bottom: 2px solid orangered;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}


.mb-content h3 {
    font-size: 22px;
    color: black;
}

.mb-content ul {
    padding: 7px;
    margin: 5px 5px;
    display: block;
    border-radius: 5px;
    width: 95%;
    height: 95%; 
    border-bottom: 1px black solid;
}

.mb-content ul li {
    padding: 5px;
    margin: 5px 5px;
    width: 98%;
    height: auto;
    background: linear-gradient(rgb(230, 230, 230), rgb(215, 215, 215));
    box-sizing: border-box;
    opacity: 100%;
    display: block;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.mb-content ul li i {
    color: black;
}

.mb-content .id-section li, .mb-content .stage-section li,
.mb-content .status-section li, .mb-content .module-section li {
    border-left: 5px orange solid;
}

.mb-content .comments-section li {
    border-left: 5px orangered solid;
}

.mb-content label {
    font-size: 17px;
    color: black;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #084298;
    background-color: #1d51a5;
    border-color: #b6d4fe;
}