/* Google font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:wght@900');

/* --[[ SLIDER ]] */

.slider {
    position: relative;
    width: 100%;
    height: 275px;
    border-bottom: 3px solid black;
    background: linear-gradient(180deg, rgb(137, 36, 0), rgb(155, 101, 0), rgb(201, 127, 0));
    background-size: 400% 400%;
    animation: ib-gradient 10s ease infinite;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 600%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    transition: 2s;
}

.slide-content {
    position: relative;
    color: black;
    margin-top: 0;
    padding: 60px;
    display: block;
    height: 50%;
    width: 75%;
}

.slide-content h2 {
    padding: 5px;
    color: white;
    background: #141414;
    border-top: 5px orange solid;
}

.slide-content p {
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-left: 5px orange solid;
    color: white;
    width: 90%;
}

@keyframes ib-gradient {
    0% {
        background-position: 0 0%;
    }
    50% {
        background-position: 0% 75%;
    }
    100% {
        background-position: 0 0%;
    }
}


/* --[[ SLIDER - MANUAL NAVIGATION ]] */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    padding: 5px;
    border-radius: 10px;
    background: black;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.25s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: orange;
    border: 2px solid black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

/* --[[ SLIDER - AUTOMATIC NAVIGATION ]] */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: black;
}

/* --[[ BOXES ]] */

.lp-container {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
    box-sizing: border-box;
    position: relative;

}

.lp-box {
    margin: 0.25% 0.4%;
    width: 80%;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(rgb(80, 50, 5), rgb(115, 45, 0));
    background-size: cover;
    border-top: 5px solid orange;
    color: white;
    cursor: pointer;
    position: relative;
    opacity: 90%;
    transition: 0.25s;
    border-radius: 5px;
}

.lp-box:hover {
    background-position: right;
    background: linear-gradient(rgb(50, 20, 0), rgb(85, 15, 0));
    transform: scale(1.025);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.511);
    opacity: 100%;
    transition: 0.25s;
}

.lp-box a .lp-content .icon-box p {
    margin-top: 70px;
}

.lp-box:hover > a .lp-content .icon-box p {
    transform: translateY(-50%);
    opacity: 100%;
}

.lp-box:hover > a .lp-content .icon-box .icon-effect {
    color: white;
    text-shadow: 0 0 5px white;
    transition: all 0.25s ease;
}

.lp-box:hover > a .lp-content .icon-box .icon-effect i {
    color: white;
    text-shadow: 0 0 5px white;
    transition: all 0.25s ease;
}

.icon-box .icon-effect {
    width: 100px;
    height: 100px;
    display:inline-block;
    line-height: 75px;
    margin: 5px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    transition: all 0.25s ease;
}

.icon-box .icon-effect i {
    color: #D8E2DC;
    display:inline-block;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    vertical-align: bottom;
    transition: all 0.25s ease;
}
.lp-box:hover > a h2 {
    border-radius: 5px 5px 0 0;
    transition: 0.25s;
}

.lp-box a h2 {
    font-size: 18px;
    text-align: center;
    border-top: 2px orange solid;
    background: rgba(0, 0, 0, 0.65);
    margin-bottom: 5%;
    padding: 5px;
    margin-top: 0;
    position: relative;
    border-radius: 5px 5px 0 0;
    color: white;
}

.lp-box a .lp-content h3 {
    margin-top: 5%;
    margin-left: 5%;
    padding: 5px;
    position: relative;
}

.lp-content {
    margin: auto;
    width: 90%;
    height: 90%;
    display: block;
    box-sizing: border-box;
    background-image: linear-gradient(black, rgb(27, 27, 27));
    background-size: cover;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
    padding: 15px 0;
}

.lp-box a .lp-content .lp-list {
    padding: 2px;
    width: 95%;
    height: 85%; 
    display: block;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.lp-list ul li {
    padding: 5px;
    margin: 10px auto;
    width: 95%;
    height: auto;
    box-sizing: border-box;
    opacity: 100%;
    display: block;
    border-left: 5px orange solid;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(45, 45, 45));
    background-size: cover;
    color: white;
    border-radius: 5px;
    justify-content: left;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.lp-list ul li a {
    transition: 0.2s;
}

.lp-list ul li:hover {
    background-image: linear-gradient(rgb(40, 40, 40), rgb(81, 81, 81));
}

.lp-list ul li:hover a {
    padding-left: 15px;
}

.lp-list ul li i {
    padding: 0 10px;
}

.lp-content * {
    color: white;
}

.icon-box > p {
    opacity: 80;
    /*transform: translateY(150%);*/
    transition: transform 0.25s;
}

#lpc-cm .icon-box, #lpc-ac .icon-box {
    margin-top: 10px;
    margin-left: 2%;
}

.lp-box a {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: block;
}


#lpc-cm {
    padding: 2%;
    border-radius: 0;
    text-align: center;
    background: none;
    margin: 5px auto;
    font-size: 18px;
}

#lpc-ac {
    padding: 2%;
    border-radius: 0;
    text-align: center;
    background: none;
    margin: 5px auto;
    font-size: 18px;
}

/* --[[ OFFICE FORM ]] -- */

.lp-form {
    margin: auto;
    padding: 15px;
    width: 90%;
    height: 90%;
    display: block;
    box-sizing: border-box;
    background-size: cover;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.lp-form form label {
    display: block;
    font-size: 18px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

/* FILE UPLOAD */
.file-upload{
    display:block;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    font-size: 16px;
}
.file-upload .file-select{
    display:block;
    border: 2px solid none;
    color: #34495e;
    cursor:pointer;
    height: 40px;
    line-height:40px;
    border-radius: 5px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
.file-upload .file-select .file-select-button{
    background:#dce4ec;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select .file-select-name{
    line-height:40px;
    color: black;
    display:inline-block;
    text-overflow: ellipsis; 
    padding:0 10px;
}
.file-upload .file-select:hover{
    border-color:#34495e;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}
.file-upload .file-select:hover .file-select-button{
    background:#34495e;
    color: black;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}
.file-upload.active .file-select{
    border-color:#3fa46a;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}
.file-upload.active .file-select .file-select-button{
    background:#3fa46a;color:#FFFFFF;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}

.file-upload .file-select input[type=file]{
    z-index:100;cursor:pointer;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.file-upload .file-select .file-select-disabled{
    opacity:0.65;
}
.file-upload .file-select .file-select-disabled:hover{
    cursor:default;
    display:block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    margin-top:5px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button{
    background:#dce4ec;
    color:#666666;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name{
    line-height:40px;
    display:inline-block;
    text-overflow: ellipsis; 
    padding:0 10px;
}

/* CHOOSE MODEL  */
.choose-model {
    display: block;
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
    justify-content: left;
}

.choose-model .cms-button {
    position: absolute;
    background:#dce4ec;
    padding:0 10px;
    display:inline-block;
    width: 15px;
    height:40px;
    line-height:40px;
}

.choose-model select {
    position: absolute;
    margin-left: 40px;
    padding:0 10px;
    width: calc(100% - 75px);
    border: none;
    height:40px;
    line-height:40px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.choose-model select option {
    color: black;
    background: white;
    border-bottom: 1px solid black;
}

.choose-model:hover{
    border-color:#34495e;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}
.choose-model:hover .cms-button{
    background:#34495e;
    color: black;
    transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    -webkit-transition:all .15s ease-in-out;
    -o-transition:all .15s ease-in-out;
}


/* SUBMIT BUTTON */
.lp-form form input[type="submit"] {
    background: orangered;
    width: 70%;
    height: 33px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 3px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    transition: 0.15s;
}

.lp-form form input[type="submit"]:hover {
    background: rgb(255, 121, 63);
    border: 2px solid white;
    width: 75%;
}

/* --[[ MEDIA QUERIES - RESPONSIVE SIZES ]]-- */
/* Smaller-screen e.g. mobile, tablet */
@media only screen and (max-width: 1000px) {
    .lp-container {
        display: block;
        width: 90%;
    }

    .lp-box {
        width: 100%;
    }

    .lp-box a .lp-content .lp-list {
        margin-bottom: 10px;
    }
}
